<div class="row audience" ng-if="::fac.enabled">
    <div class="extra-task state-complete">
        <div class="col-sm-3">
            <em class="extra-task-label">{{::fac.translateAudience('entrance')}}</em>
        </div>
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <input ng-model="fac.audienceType"
                           ng-change="fac.setAudienceType('everyone')"
                           type="radio"
                           name="audience-type"
                           id="audience-everyone"
                           value="everyone"
                           checked>
                    {{::fac.translateAudience('everyone')}}
                </label>
            </div>

            <div class="radio">
                <label>
                    <input ng-model="fac.audienceType"
                           ng-change="fac.setAudienceType('members')"
                           type="radio"
                           name="audience-type"
                           id="audience-members"
                           value="members"
                           aria-describedby="audience-members-help">
                    {{::fac.translateAudience('members')}}
                    <span id="audience-members-help" class="help-block" ng-show="fac.audienceType === 'members'">
                        {{::fac.translateAudience('members_help')}}
                    </span>
                </label>
            </div>


            <div class="radio">
                <label>
                    <input ng-model="fac.audienceType"
                           ng-change="fac.setAudienceType('education')"
                           type="radio"
                           name="audience-type"
                           id="audience-education"
                           value="education"
                           aria-describedby="audience-education-help">
                    {{::fac.translateAudience('education')}}
                    <span id="audience-education-help" class="help-block" ng-show="fac.audienceType === 'education'">
                        {{::fac.translateAudience('education_help')}}
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
