<div class="row audience" ng-if="::fac.enabled">
    <div class="extra-task state-complete">
        <div class="col-sm-3">
            <em class="extra-task-label" translate-once="audience.entrance"></em>
        </div>
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <input ng-model="fac.audienceType"
                           ng-change="fac.setAudienceType('everyone')"
                           type="radio"
                           name="audience-type"
                           id="audience-everyone"
                           value="everyone"
                           checked>
                    <span translate-once="audience.everyone"></span>
                </label>
            </div>

            <div class="radio">
                <label>
                    <input ng-model="fac.audienceType"
                           ng-change="fac.setAudienceType('members')"
                           type="radio"
                           name="audience-type"
                           id="audience-members"
                           value="members"
                           aria-describedby="audience-members-help">
                    <span translate-once="audience.members"></span>
                    <span id="audience-members-help"
                          class="help-block"
                          translate-once="audience.members_help"
                          ng-show="fac.audienceType === 'members'">
                    </span>
                </label>
            </div>


            <div class="radio">
                <label>
                    <input ng-model="fac.audienceType"
                           ng-change="fac.setAudienceType('education')"
                           type="radio"
                           name="audience-type"
                           id="audience-education"
                           value="education"
                           aria-describedby="audience-education-help">
                    <span translate-once="audience.education"></span>
                    <span id="audience-education-help"
                          class="help-block"
                          translate-once="audience.education_help"
                          ng-show="fac.audienceType === 'education'">
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
