<div ng-show="!odc.organizer && !odc.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<h1 class="title" ng-bind="odc.organizer.name"></h1>

<div class="row" ng-if="odc.organizer">
  <div class="col-sm-3 col-sm-push-9">
    <div class="list-group" ng-if="!odc.organizer.deleted">
      <button class="list-group-item"
         type="button"
         ui-sref="management.organizers.edit({id: odc.organizer.id})"><i class="fa fa-pencil" aria-hidden="true"></i> Bewerken</button>
      <button class="list-group-item"
              ng-click="odc.deleteOrganization()"><i class="fa fa-trash" aria-hidden="true"></i> Verwijderen</button>
      <button class="list-group-item"
         ui-sref="management.organizers.search({id: odc.organizer.id})"><i class="fa fa-arrow-left" aria-hidden="true"></i> Terug naar overzicht</button>
    </div>
  </div>
  <div class="col-sm-9 col-sm-pull-3">
    <div ng-if="odc.organizer && !odc.organizer.deleted">
      <div class="row">
        <div class="col-md-2">
          <span><strong>Naam</strong></span>
        </div>
        <div class="col-md-10">
          <span ng-bind="odc.organizer.name"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span><strong>Straat + nr</strong></span>
        </div>
        <div class="col-md-10">
          <span ng-bind="odc.organizer.address.streetAddress"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span><strong>Postcode</strong></span>
        </div>
        <div class="col-md-10">
          <span ng-bind="odc.organizer.address.postalCode"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span><strong>Gemeente</strong></span>
        </div>
        <div class="col-md-10">
          <span ng-bind="odc.organizer.address.addressLocality"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span><strong>Website</strong></span>
        </div>
        <div class="col-md-10">
          <span ng-bind="odc.organizer.url"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span><strong>Telefoonnummer</strong></span>
        </div>
        <div class="col-md-10">
          <span ng-bind="odc.organizer.phone"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span><strong>E-mailadres</strong></span>
        </div>
        <div class="col-md-10">
          <span ng-bind="odc.organizer.email"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span><strong>Labels</strong></span>
          <i class="fa fa-circle-o-notch fa-spin" ng-show="labelSaving"></i>
        </div>
        <div class="col-md-10">
          <udb-label-select labels="odc.organizer.labels"
                            label-added="odc.addLabel(label)"
                            label-removed="odc.deleteLabel(label)"></udb-label-select>
          <div ng-if="odc.labelResponse === 'unlabelError'" class="alert alert-danger">
              <span ng-bind="odc.labelsError"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-danger" ng-if="odc.organizer && odc.organizer.deleted">
      Deze organisatie is verwijderd.
    </div>

    <div ng-show="odc.loadingError">
        <span ng-bind="odc.loadingError"></span>
    </div>
  </div>
</div>
