<h1 class="title" id="page-title">
  <span translate-once="dashboard.welcome"></span> <span ng-bind="dash.username"></span>
</h1>

<div class="text-center" ng-show="dash.pagedItemViewer.loading">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div class="udb-dashboard-header">
  <!-- udb-dashboard-header -->
</div>

<div ng-cloak ng-show="!dash.pagedItemViewer.loading">

  <div class="row udb-dashboard">
    <div class="col-xs-12">

      <div class="alert alert-info" ng-if="!dash.toggleAddOffer && dash.addOfferExpirationMessage">
        <span ng-bind-html="::dash.addOfferExpirationMessage"></span>
      </div>

      <div class="panel panel-default no-new no-data" ng-hide="dash.pagedItemViewer.events.length">
        <div class="panel-body text-center">
          <p class="text-center"><span translate-once="dashboard.no_items"></span>
            <span ng-if="dash.toggleAddOffer"><br/><a href="event" translate-once="dashboard.add_activity"></a></span>
          </p>
        </div>
      </div>

      <div ng-show="dash.pagedItemViewer.events.length">

        <div class="clearfix">
          <p class="invoer-title"><span class="block-header" translate-once="dashboard.my_activities"></span>
            <span class="pull-right" ng-if="dash.toggleAddOffer">
              <a class="btn btn-primary" href="event"><i class="fa fa-plus-circle"></i> <span translate-once="dashboard.add"></span></a>
            </span>
          </p>
        </div>

        <div class="panel panel-default">
          <table class="table">
            <tbody>
              <tr udb-dashboard-event-item
                  ng-if="event['@type'] === 'Event'"
                  class="dashboard-item" ng-class="{'deleting': event.showDeleted}"
                  ng-repeat-start="event in dash.pagedItemViewer.events">
              </tr>
              <tr udb-dashboard-place-item
                  ng-if="event['@type'] === 'Place'"
                  class="dashboard-item" ng-class="{'deleting': event.showDeleted}"
                  ng-repeat-end>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <uib-pagination
              total-items="dash.pagedItemViewer.totalItems"
              ng-model="dash.pagedItemViewer.currentPage"
              items-per-page="dash.pagedItemViewer.pageSize"
              ng-show="dash.pagedItemViewer.totalItems > 0"
              max-size="10"
              ng-change="dash.updateItemViewer()">
            </uib-pagination>
          </div>

        </div>
      </div>

      <div ng-show="dash.pagedItemViewerOrganizers.events.length">

        <div class="clearfix">
          <p class="invoer-title"><span class="block-header" translate-once="dashboard.my_organizers"></span>
            <span class="pull-right" ng-if="dash.toggleAddOffer">
              <a class="btn btn-primary" ng-click="dash.openCreateOrganizerModal()"><i class="fa fa-plus-circle"></i> <span translate-once="dashboard.add_organizer"></span></a>
            </span>
          </p>
        </div>

        <div class="panel panel-default">
          <table class="table">
            <tbody>
            <tr udb-dashboard-organizer-item
                class="dashboard-item" ng-class="{'deleting': event.showDeleted}"
                ng-repeat-start="event in dash.pagedItemViewerOrganizers.events"
                ng-repeat-end>
            </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <uib-pagination
                    total-items="dash.pagedItemViewerOrganizers.totalItems"
                    ng-model="dash.pagedItemViewerOrganizers.currentPage"
                    items-per-page="dash.pagedItemViewerOrganizers.pageSize"
                    ng-show="dash.pagedItemViewerOrganizers.totalItems > 0"
                    max-size="10"
                    ng-change="dash.updateOrganizerViewer()">
            </uib-pagination>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
