<form name="oac.organizerAddressForm" class="organizer-address-form">
    <div class="row">
      <div class="col-xs-6">
        <label translate-once="organizer.manage.address"></label>
      </div>
      <div class="col-xs-6">
        <select ng-change="oac.changeCountrySelection()"
          ng-options="option.code | translate for option in oac.availableCountries track by option.code"
          ng-model="oac.selectedCountry"
          ng-show="oac.availableCountries.length > 1"
          class="form-control">
        </select>
      </div>
    </div>

    <div class="form-group"
         ng-class="{'has-error' : oac.streetHasErrors && oac.organizerAddressForm.$submitted}">
        <label translate-once="organizer.address.label_street"></label>
        <input type="text"
               class="form-control"
               name="street"
               placeholder="{{ 'organizer.address.label_street' | translate }}"
               ng-model="oac.address.streetAddress"
               ng-change="oac.validateAddress()"
               ng-model-options="{ updateOn: 'blur' }">
        <span class="has-error"
              ng-show="oac.streetHasErrors && oac.organizerAddressForm.$submitted">
            <span class="help-block" translate-once="organizer.address.help_street"></span>
        </span>
    </div>

    <div class="row" >
        <div class="col-xs-6">
            <div class="form-group" ng-hide="oac.selectedCity !== ''"
                 ng-class="{'has-error' : oac.cityHasErrors && oac.organizerAddressForm.$submitted}">
                <label for="organizer-gemeente-autocomplete" id="gemeente-label" translate-once="organizer.address.label_city" ng-show="oac.selectedCountry.code === 'BE'"></label>
                <label for="organizer-gemeente-autocomplete" id="gemeente-label" translate-once="organizer.address.label_residence" ng-show="oac.selectedCountry.code === 'NL'"></label>
                <div id="gemeente-kiezer">
                    <input id="organizer-gemeente-autocomplete"
                           type="text"
                           name="city"
                           class="form-control uib-typeahead"
                           ng-model="oac.cityAutocompleteTextField"
                           uib-typeahead="city as city.label for city in oac.cities | filter:oac.filterCities($viewValue) | orderBy:oac.orderByLevenshteinDistance($viewValue)"
                           typeahead-on-select="oac.selectCity($item, $label)"
                           typeahead-min-length="2"
                           typeahead-template-url="templates/city-suggestion.html"
                           autocomplete="off">
                    <span class="help-block" ng-show="oac.cityAutoCompleteError" translate-once="organizer.address.help_city">
                    </span>
                    <span class="has-error"
                          ng-show="oac.cityHasErrors && oac.organizerAddressForm.$submitted">
                        <span class="help-block" translate-once="organizer.address.error_city">
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group" id="gemeente-gekozen" ng-if="oac.selectedCity">
              <label id="gemeente-label" translate-once="organizer.address.label_city" ng-show="oac.selectedCountry.code === 'BE'"></label>
              <label id="gemeente-label" translate-once="organizer.address.label_residence" ng-show="oac.selectedCountry.code === 'NL'"></label>
              <p class="form-text">
                <span id="gemeente-gekozen-button" ng-bind="::oac.selectedCity"></span>
                <a href="#" class="btn btn-default btn-link" ng-click="oac.changeCitySelection()" translate-once="organizer.address.change"></a>
              </p>
            </div>
        </div>
        <div class="col-xs-6" ng-show="oac.selectedCountry.code == 'NL'">
            <div class="form-group"
                 ng-class="{'has-error' : oac.zipHasErrors && oac.organizerAddressForm.$submitted}">
                <label translate-once="organizer.address.zip"></label>
                <span class="text-muted">bv. 1104CA</span>
                <input type="text"
                       class="form-control"
                       name="postalCode"
                       placeholder="{{ 'organizer.address.zip' | translate }}"
                       ng-model="oac.address.postalCode"
                       ng-change="oac.validateAddress()">
                <span class="has-error"
                      ng-show="oac.zipHasErrors && oac.organizerAddressForm.$submitted">
                    <span class="help-block" translate-once="organizer.address.help_zip"></span>
                </span>
                <span class="has-error"
                      ng-show="!oac.zipHasErrors && oac.zipValidateError && oac.organizerAddressForm.$submitted">
                    <span class="help-block" translate-once="organizer.address.validate_zip"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a href="#" ng-show="oac.hasAddress" class="btn btn-default" ng-click="oac.clearAddressInfo()" translate-once="organizer.address.delete">Leegmaken</a>
        <p ng-show="oac.addressRemovedSuccess" class="alert alert-success" translate-once="organizer.address.delete_success"></span>
        <p ng-show="oac.addressRemovedError" class="alert alert-danger" translate-once="organizer.address.delete_error"></span>
      </div>
    </div>
</form>
