<h1 class="title" ng-bind="oec.originalName"></h1>

<div ng-show="!oec.organizer && !oec.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div ng-if="oec.organizer">
    <form name="oec.organizerEditForm" class="organizer-edit-form">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <p class="alert alert-danger" ng-show="oec.hasErrors">
                    <span ng-show="oec.organizersWebsiteFound">Deze URL is al in gebruik door een andere organisatie.<br /></span>
                    <span ng-show="oec.validUrl"Gelieve een gelidge URL op te geven.<br /></span>
                    <span ng-show="oec.websiteError">Er ging iets mis met het controleren van de website.<br /></span>
                    <span ng-show="oec.organizerEditForm.website.$error.required">Gelieve een website in te vullen.<br /></span>
                    <span ng-show="oec.organizerEditForm.name.$error.required">Gelieve een naam in te vullen.<br /></span>
                </p>

                <div class="form-group has-feedback"
                     ng-class="{'has-error' : oec.organizersWebsiteFound || oec.organizerEditForm.website.$error.required }">
                    <label class="control-label" for="organizer-website">Website</label>
                    <input type="url"
                           id="organizer-website"
                           udb-http-prefix
                           name="website"
                           class="form-control"
                           ng-model-options="{ debounce: 300 }"
                           ng-model="oec.organizer.url"
                           aria-describedby="organizer-website-status"
                           ng-change="oec.validateWebsite()"
                           autocomplete="off"
                           required>
                    <span class="fa fa-circle-o-notch fa-spin form-control-feedback" ng-show="oec.showWebsiteValidation" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group" ng-class="{'has-error' : oec.organizerEditForm.name.$error.required }">
                    <label>Naam</label>
                    <input type="text"
                           name="name"
                           class="form-control"
                           ng-model="oec.organizer.name"
                           ng-change="oec.validateName()"
                           required>
                    <p class="help-block">De officiële publieke naam van de organisatie.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group">
                    <label>Straat en nummer</label>
                    <input type="text" class="form-control" name="street" ng-model="oec.organizer.address.streetAddress">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group">
                    <label for="organizer-gemeente-autocomplete" id="gemeente-label" ng-hide="oec.selectedCity !== ''">
                        Gemeente
                    </label>
                    <div id="gemeente-kiezer" ng-hide="oec.selectedCity !== ''">
                        <input id="organizer-gemeente-autocomplete"
                               type="text"
                               class="form-control uib-typeahead"
                               placeholder="Gemeente of postcode"
                               ng-model="cityAutocompleteTextField"
                               uib-typeahead="city as city.zip + ' ' + city.name for city in oec.cities | filter:oec.filterCities($viewValue) | orderBy:oec.orderByLevenshteinDistance($viewValue)"
                               typeahead-on-select="oec.selectCity($item, $label)"
                               typeahead-min-length="2"
                               typeahead-template-url="templates/city-suggestion.html"
                               autocomplete="off">
                        <div class="alert alert-danger" role="alert" ng-show="cityAutoCompleteError">
                            Er was een probleem tijdens het ophalen van de steden.
                        </div>
                    </div>
                </div>

                <div class="form-group" id="gemeente-gekozen" ng-if="oec.selectedCity">
                    <span class="btn-chosen" id="gemeente-gekozen-button" ng-bind="::oec.selectedCity"></span>
                    <a href="#" class="btn btn-default btn-link" ng-click="oec.changeCitySelection()">Wijzigen</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p><strong>Contact</strong></p>
            </div>
            <div class="col-sm-12">

                <div ng-show="oec.contact.length === 0">
                    <ul class="list-unstyled">
                        <li><a ng-click="oec.addOrganizerContactInfo('phone')" href="#">Telefoonnummer toevoegen</a></li>
                        <li><a ng-click="oec.addOrganizerContactInfo('email')" href="#">E-mailadres toevoegen</a></li>
                        <li><a ng-click="oec.addOrganizerContactInfo('url')" href="#">Andere website toevoegen</a></li>
                    </ul>
                </div>

                <table class="table" ng-show="oec.contact.length">
                    <tr ng-repeat="(key, info) in oec.contact track by key"
                        ng-model="info"
                        udb-contact-info-validation
                        ng-class="{'has-error' : infoErrorMessage !== '' }">
                        <td>
                            <select class="form-control" ng-model="info.type" ng-change="clearInfo();">
                              <option value="url">Website</option>
                              <option value="phone">Telefoonnummer</option>
                              <option value="email">E-mailadres</option>
                            </select>
                        </td>
                        <td ng-switch="info.type">
                            <input type="text"
                                   ng-switch-when="url"
                                   udb-http-prefix
                                   class="form-control"
                                   ng-model="info.value"
                                   name="contact[{{key}}]"
                                   ng-change="validateInfo()"
                                   ng-model-options="{ updateOn: 'blur' }"/>
                            <input type="text"
                                   ng-switch-default
                                   class="form-control"
                                   ng-model="info.value"
                                   name="contact[{{key}}]"
                                   ng-change="validateInfo()"
                                   ng-model-options="{ updateOn: 'blur' }"/>
                            <span class="help-block" ng-if="infoErrorMessage" ng-bind="::infoErrorMessage"></span>
                        </td>
                        <td>
                            <button type="button" class="close" aria-label="Close" ng-click="oec.deleteOrganizerContactInfo(key)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><a ng-click="oec.addOrganizerContactInfo('url')" href="#">Meer contactgegevens toevoegen</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

    <button type="button"
            class="btn btn-primary organisator-toevoegen-bewaren"
            ng-disabled="oec.disableSubmit"
            ng-click="oec.validateOrganizer()">
        Bewaren
    </button>
</div>

<div ng-show="oec.loadingError">
    <span ng-bind="oec.loadingError"></span>
</div>
