<h1 class="title" ng-bind="oec.originalName"></h1>

<div ng-show="!oec.organizer && !oec.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div ng-if="oec.organizer">
    <form name="oec.organizerEditForm" class="organizer-edit-form">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <p class="alert alert-danger" ng-show="oec.hasErrors">
                    <span ng-show="oec.organizersWebsiteFound">Deze URL is al in gebruik door een andere organisatie.<br /></span>
                    <span ng-show="oec.websiteError">Er ging iets mis met het controleren van de website.<br /></span>
                    <span ng-show="oec.organizerEditForm.website.$error.required || oec.urlError">Gelieve een website in te vullen.<br /></span>
                    <span ng-show="oec.organizerEditForm.name.$error.required">Gelieve een naam in te vullen.<br /></span>
                    <span ng-show="oec.addressError">Gelieve een geldig adres in te vullen.<br /></span>
                    <span ng-show="oec.contactError">Gelieve alle contactinfo correct in te vullen.<br /></span>
                    <span ng-show="oec.saveError">Er ging iets mis tijdens het opslaan.<br /></span>
                </p>

                <div class="form-group has-feedback"
                     ng-class="{'has-error' : (oec.organizersWebsiteFound || oec.urlError || oec.organizerEditForm.website.$error.required) && oec.hasErrors }">
                    <label>Website</label>
                    <input type="url"
                           id="organizer-website"
                           udb-http-prefix
                           name="website"
                           class="form-control"
                           ng-model-options="{ debounce: 300 }"
                           ng-model="oec.organizer.url"
                           ng-change="oec.validateWebsite()"
                           aria-describedby="organizer-website-status"
                           autocomplete="off"
                           required>
                    <span class="fa fa-circle-o-notch fa-spin form-control-feedback" ng-show="oec.showWebsiteValidation" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group" ng-class="{'has-error' : oec.nameError && oec.hasErrors }">
                    <label>Naam</label>
                    <input type="text"
                           name="name"
                           class="form-control"
                           ng-model="oec.organizer.name"
                           ng-change="oec.validateName()"
                           required>
                    <p class="help-block">De officiële publieke naam van de organisatie.</p>
                </div>
            </div>
        </div>
    </form>

    <udb-organizer-address address="oec.organizer.address"
                           on-update="oec.validateAddress(error)"></udb-organizer-address>
    <udb-organizer-contact contact="oec.contact"
                           on-update="oec.validateContact(error)"></udb-organizer-contact>

    <button type="button"
            class="btn btn-primary organisator-bewerken-bewaren"
            ng-disabled="oec.disableSubmit || oec.contactError"
            ng-click="oec.validateOrganizer()">
        Bewaren
    </button>
    <a class="btn btn-default organisator-bewerken-annuleren"
       ng-click="oec.cancel()">Annuleren</a>
</div>

<div ng-show="oec.loadingError">
    <span ng-bind="oec.loadingError"></span>
</div>
