<h1 class="title" ng-bind="oec.originalName"></h1>

<div ng-show="!oec.organizer && !oec.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div ng-if="oec.organizer">
    <form name="oec.organizerEditForm" class="organizer-edit-form">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <p class="alert alert-danger" ng-show="oec.hasErrors">
                    <span ng-show="oec.organizersWebsiteFound">Deze URL is al in gebruik door een andere organisatie.<br /></span>
                    <span ng-show="oec.invalidUrl">Gelieve een gelidge URL op te geven.<br /></span>
                    <span ng-show="oec.websiteError">Er ging iets mis met het controleren van de website.<br /></span>
                    <span ng-show="oec.organizerEditForm.website.$error.required">Gelieve een website in te vullen.<br /></span>
                    <span ng-show="oec.organizerEditForm.name.$error.required">Gelieve een naam in te vullen.<br /></span>
                    <span ng-show="oec.addressError">Gelieve een straat en huisnummer in te vullen.<br /></span>
                </p>

                <div class="form-group has-feedback"
                     ng-class="{'has-error' : oec.organizersWebsiteFound || oec.organizerEditForm.website.$error.required }">
                    <label class="control-label" for="organizer-website">Website</label>
                    <input type="url"
                           id="organizer-website"
                           udb-http-prefix
                           name="website"
                           class="form-control"
                           ng-model-options="{ debounce: 300 }"
                           ng-model="oec.organizer.url"
                           aria-describedby="organizer-website-status"
                           ng-change="oec.validateWebsite()"
                           autocomplete="off"
                           required>
                    <span class="fa fa-circle-o-notch fa-spin form-control-feedback" ng-show="oec.showWebsiteValidation" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group" ng-class="{'has-error' : oec.organizerEditForm.name.$error.required }">
                    <label>Naam</label>
                    <input type="text"
                           name="name"
                           class="form-control"
                           ng-model="oec.organizer.name"
                           ng-blur="oec.validateName()"
                           required>
                    <p class="help-block">De officiële publieke naam van de organisatie.</p>
                </div>
            </div>
        </div>
    </form>

    <udb-organizer-address address="oec.organizer.address"
                           on-update="oec.validateAddress(address)"></udb-organizer-address>
    <udb-organizer-contact contact-point="oec.organizer.contactPoint"></udb-organizer-contact>

    <button type="button"
            class="btn btn-primary organisator-toevoegen-bewaren"
            ng-disabled="oec.disableSubmit"
            ng-click="oec.validateOrganizer()">
        Bewaren
    </button>
</div>

<div ng-show="oec.loadingError">
    <span ng-bind="oec.loadingError"></span>
</div>
