<div class="row">
    <div class="col-sm-12">
        <p><strong>Contact</strong></p>
    </div>
    <div class="col-sm-12">

        <div ng-show="occ.contact.length === 0">
            <ul class="list-unstyled">
                <li><a ng-click="occ.addOrganizerContactInfo('phone')" href="#">Telefoonnummer toevoegen</a></li>
                <li><a ng-click="occ.addOrganizerContactInfo('email')" href="#">E-mailadres toevoegen</a></li>
                <li><a ng-click="occ.addOrganizerContactInfo('url')" href="#">Andere website toevoegen</a></li>
            </ul>
        </div>

        <table class="table" ng-show="occ.contact.length">
            <tr ng-repeat="(key, info) in occ.contact track by key"
                ng-model="info"
                udb-contact-info-validation
                ng-class="{'has-error' : infoErrorMessage !== '' }">
                <td>
                    <select class="form-control" ng-model="info.type" ng-change="clearInfo(); occ.validateContact()">
                        <option value="url">Website</option>
                        <option value="phone">Telefoonnummer</option>
                        <option value="email">E-mailadres</option>
                    </select>
                </td>
                <td ng-switch="info.type">
                    <input type="text"
                           ng-switch-when="url"
                           udb-http-prefix
                           class="form-control"
                           ng-model="info.value"
                           name="contact[{{key}}]"
                           ng-change="validateInfo(); occ.validateContact()"
                           ng-model-options="{ updateOn: 'blur' }"
                           required/>
                    <input type="text"
                           ng-switch-default
                           class="form-control"
                           ng-model="info.value"
                           name="contact[{{key}}]"
                           ng-change="validateInfo(); occ.validateContact()"
                           ng-model-options="{ updateOn: 'blur' }"
                           required/>
                    <span class="help-block" ng-if="infoErrorMessage" ng-bind="::infoErrorMessage"></span>
                </td>
                <td>
                    <button type="button" class="close" aria-label="Close" ng-click="occ.deleteOrganizerContactInfo(key)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
            <tr ng-if="occ.contact.length > 0">
                <td colspan="3"><a ng-click="occ.addOrganizerContactInfo('url')" href="#">Meer contactgegevens toevoegen</a>
                </td>
            </tr>
        </table>
    </div>
</div>