
<div class="modal-header">
    <button type="button" class="close" ng-click="pfmc.cancelEditPrice()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Prijzen toevoegen</h4>
</div>
<div class="modal-body">
    <form name="pfmc.priceForm" novalidate>
        <div class="row price-table"
           ng-repeat="(key, priceInfo) in pfmc.price"
           ng-model="priceInfo">
           <p class="alert alert-danger" ng-show="priceFieldForm.price.$invalid && priceFieldForm.price.$touched">
           Gelieve een geldig bedrag in te geven, met maximaal 2 cijfers na de komma.
           </p>
           <ng-form name="priceFieldForm">
               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
                   ng-class="{ 'has-error': priceFieldForm.name.$invalid && priceFieldForm.name.$touched }"
                    ng-switch on="priceInfo.category">
                        <p class="form-control-static"  ng-switch-when="base">
                            Basistarief
                        </p>
                        <span ng-switch-default>
                            <input type="text"
                                   class="form-control"
                                   name="name"
                                   placeholder="Doelgroep"
                                   ng-model="priceInfo.name"
                                   required />
                        </span>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
                     ng-class="{ 'has-error': priceFieldForm.price.$invalid && priceFieldForm.price.$touched }">
                        <p class="form-control-static" ng-if="priceInfo.price === 0">
                            Gratis
                        </p>
                        <span ng-if="priceInfo.price !== 0">
                            <div class="form-inline">
                                <div class="input-group" >
                                    <input type="number"
                                           class="form-control"
                                           name="price"
                                           step=".01"
                                           ng-model="priceInfo.price"
                                           pattern="^\d*(\.\d{1,2}$)?"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           required />
                                    <span class="input-group-addon" >euro</span>
                                </div>
                            </div>
                        </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
                     ng-switch on="priceInfo.price">
                        <a class="btn btn-link form-control-static"
                           ng-click="pfmc.unsetPriceItemFree(key)"
                           ng-switch-when="0">Prijs invoeren</a>
                        <a class="btn btn-link form-control-static"
                           ng-click="pfmc.setPriceItemFree(key)"
                           ng-switch-default>Gratis</a>
                </div>
               <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                   <a aria-hidden="true"
                      ng-click="pfmc.deletePriceItem(key)"
                      ng-if="pfmc.showPriceDelete(key)"
                      class="close form-control-static">&times;</a>
               </div>
           </ng-form>
        </div>
        <div class="row">
            <a class="btn btn-link" ng-click="pfmc.addPriceItem()">Tarief toevoegen</a>
        </div>
    </form>

    <div ng-show="pfmc.priceError" class="alert alert-danger">
        Er ging iets fout bij het opslaan van de prijs.
    </div>
    <div ng-show="pfmc.invalidPrice" class="alert alert-danger">
        Gelieve een geldige prijs en omschrijving in te voeren.
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="pfmc.cancelEditPrice()">Sluiten</button>
    <button type="button"
            class="btn btn-primary organisator-toevoegen-bewaren"
            ng-click="pfmc.validatePrice()"
            ng-disabled="pfmc.priceForm.$invalid || pfmc.priceForm.$pristine">
        Bewaren <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i>
    </button>
</div>
