<tr ng-class="::{muted: isEmpty(bookingInfo) || (bookingInfo.phone == null && bookingInfo.email == null && bookingInfo.url == null)}">
    <td>
        <span class="row-label">Reservatie</span>
    </td>
    <td ng-if="::(!isEmpty(bookingInfo) && (bookingInfo.phone !== null || bookingInfo.email !== null || bookingInfo.url !== null))">
        <ul class="list-unstyled" >
            <li ng-if="::bookingInfo.url">
                    <span>
                      <a class="btn btn-info" target="_blank" ng-href="{{::bookingInfo.url}}"
                         ng-bind="::bookingInfo.urlLabel"></a>
                    </span>
            </li>

            <li ng-if="::bookingInfo.phone" ng-bind="::bookingInfo.phone"></li>
            <li ng-if="::bookingInfo.email"> <a href="::{{'mailto:'+ bookingInfo.email}}">{{::bookingInfo.email}}</a></li>
            <li ng-if="::bookingInfo.availabilityStarts" > Van {{::bookingInfo.availabilityStarts | date}} tot {{::bookingInfo.availabilityEnds | date}}</li>
        </ul>
    </td>
    <td ng-if="::(isEmpty(bookingInfo) || (bookingInfo.phone == null && bookingInfo.email == null && bookingInfo.url == null))">Geen reservatie-informatie</td>
</tr>
