<tr ng-class="::{muted: isEmpty(contactPoint)}">
    <td>
        <span class="def">Contact</span>
    </td>
    <td ng-if="::!isEmpty(contactPoint)">
        <ul class="list-unstyled">
            <li>
                    <span ng-repeat="website in ::contactPoint.url">
                      <a ng-href="{{::website}}" target="_blank" ng-bind="::website"></a>
                      <span ng-if="::!$last">of </span>
                    </span>
            </li>
            <li>
                    <span ng-repeat="phone in ::contactPoint.phone">
                      <span ng-bind="::phone"></span>
                      <span ng-if="::!$last">of </span>
                    </span>
            </li>
            <li>
                    <span ng-repeat="email in ::contactPoint.email">
                      <span ng-bind="::email"></span>
                      <span ng-if="::!$last">of </span>
                    </span>
            </li>
        </ul>
    </td>
    <td ng-if="::isEmpty(contactPoint)">Geen contactgegevens</td>
</tr>
