<div ng-if="eventIdIsInvalid">
  <div class="page-header">
    <h1>Pagina niet gevonden</h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>Deze pagina kon niet gevonden worden.</p>
    </div>
  </div>
</div>

<div ng-if="finishedLoading()">
  <h1 class="title" ng-bind="event.name"></h1>

  <div class="row">
    <div class="col-sm-3 col-sm-push-9">
      <div class="list-group" ng-if="::permissions">
        <button ng-if="::permissions.editing"
                class="list-group-item"
                type="button"
                ng-click="openEditPage()">Bewerken</button>
        <button ng-if="::permissions.duplication"
                class="list-group-item"
                type="button"
                ui-sref='duplication.event({id: event.id})'>Kopiëren en aanpassen</button>
        <button ng-if="::permissions.editing"
                class="list-group-item"
                href="#"
                ng-click="deleteEvent()">Verwijderen</button>
      </div>
    </div>
    <div class="col-sm-9 col-sm-pull-3">
      <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" ng-class="{active: isTabActive(tab.id)}" role="tab">
          <a ng-click="makeTabActive(tab.id)" role="tab" ng-bind="tab.header" href="#"></a>
        </li>
      </ul>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('data')">
        <h2 class="block-header">Voorbeeld</h2>
        <div class="panel panel-default">
          <table class="table udb3-data-table">
            <colgroup>
              <col style="width:20%"/>
              <col style="width:80%"/>
            </colgroup>
            <tbody>
              <tr>
                <td><strong>Titel</strong></td>
                <td>{{event.name}}</td>
              </tr>
              <tr>
                <td><strong>Type</strong></td>
                <td>{{event.type.label}}</td>
              </tr>
              <tr ng-if="event.audience.audienceType !== 'everyone'">
                <td><strong>Toegang</strong></td>
                <td>{{translateAudience(event.audience.audienceType)}}
                <udb-event-cultuurkuur-component event="event" permission="::permissions.editing" ></udb-event-cultuurkuur-component></td>
              </tr>
              <tr>
                <td>
                  <strong>Labels</strong>
                </td>
                <td>
                  <udb-label-select labels="event.labels"
                                    label-added="labelAdded(label)"
                                    label-removed="labelRemoved(label)">
                  </udb-label-select>
                  <div ng-if="labelResponse === 'error'" class="alert alert-danger">
                    Het toevoegen van het label '{{labelsError.name}}' is niet gelukt.
                  </div>
                  <div ng-if="labelResponse === 'success'" class="alert alert-success">
                    Het label '{{addedLabel}}' werd succesvol toegevoegd.
                  </div>
                  <div ng-if="labelResponse === 'unlabelError'" class="alert alert-danger">
                    <span ng-bind="labelsError"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>Beschrijving</strong></td>
                <td>
                  <div ng-bind-html="event.description" class="event-detail-description"></div>
                </td>
              </tr>
              <tr>
                <td><strong>Waar</strong></td>
                <td ng-show="event.location.url"><a ui-sref="split.footer.place-preview({id: event.location.id})">{{eventLocation(event)}}</a></td>
                <td ng-hide="event.location.url">
                  {{event.location.name.nl}},
                  {{event.location.address.streetAddress}},
                  {{event.location.address.postalCode}}
                  {{event.location.address.addressLocality}}
                </td>
              </tr>
              <tr>
                <td><strong>Wanneer</strong></td>
                <td>
                  <udb-calendar-summary offer="event" show-opening-hours="true"></udb-calendar-summary>
                </td>
              </tr>
              <tr ng-class="{muted: !event.organizer}">
                <td><strong>Organisatie</strong></td>
                <td>{{event.organizer.name}}</td>
              </tr>
              <tr class="rv-event-info-price" ng-class="{muted: !event.priceInfo.length}">
                <td><strong>Prijs</strong></td>
                <td ng-if="event.priceInfo.length">
                  <table class="table event-detail-price-table">
                    <tr ng-repeat="priceInfo in event.priceInfo">
                      <td>{{priceInfo.name}}</td>
                      <td>
                        <span ng-if="priceInfo.price == 0">
                          Gratis
                        </span>
                        <span ng-if="priceInfo.price != 0">
                          {{priceInfo.price | currency}} euro
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td ng-if="!event.priceInfo.length">
                  Geen prijsinformatie
                </td>
              </tr>
            </tbody>
            <tbody udb-booking-info-detail="::event.bookingInfo"></tbody>
            <tbody udb-contact-point-detail="::event.contactPoint"></tbody>
            <tbody>
              <tr>
                <td><strong>Geschikt voor</strong></td>
                <td>
                  <span ng-if="event.typicalAgeRange">{{event.typicalAgeRange}}</span>
                  <span ng-if="!event.typicalAgeRange">Alle leeftijden</span>
                </td>
              </tr>
              <tr ng-class="::{muted: !event.image}">
                <td><strong>Afbeeldingen</strong></td>
                <td>
                  <img ng-if="::event.image" class="img-responsive" ng-src="{{::event.image}}?width=400" />
                  <p>
                    <span ng-repeat="image in ::event.images">
                      <img ng-src="{{::image.contentUrl}}?height=100" class="offer-image-thumbnail img-responsive" />
                    </span>
                    <span ng-if="::!event.image">Geen afbeeldingen</span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" ng-show="isTabActive('history')">
        <h2 class="block-header">Geschiedenis</h2>
        <div class="timeline">
          <dl ng-repeat="eventAction in eventHistory track by $index">
            <dt ng-bind="eventAction.date | date:'dd/MM/yyyy H:mm'"></dt>
            <dd>
              <span class="author" ng-if="eventAction.author">{{eventAction.author}}</span><br ng-if="eventAction.author"/>
              <span class="description">{{eventAction.description}}</span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('publication')">
        <div class="panel panel-default">
          <table class="table">
            <colgroup>
              <col style="width:20%"/>
              <col style="width:80%"/>
            </colgroup>
            <tbody>
            <tr>
              <td><strong>Publicatiestatus</strong></td>
              <td>
                    <span ng-if="event.available"
                          ng-bind="event.available | date: 'dd/MM/yyyy'">
                    </span>
                <span ng-if="!event.available">
                      {{translateWorkflowStatus(event.workflowStatus)}}
                    </span>
              </td>
            </tr>
            <tr>
              <td><strong>ID</strong></td>
              <td>
                <ul>
                  <li ng-repeat="id in eventIds(event)" ng-switch="isUrl(id)">
                    <a ng-switch-when="true" ng-href="{{id}}" ng-bind="id"></a>
                    <span ng-switch-when="false" ng-bind="id"></span>
                  </li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
