<div ng-if="eventIdIsInvalid">
  <div class="page-header">
    <h1 translate-once="preview.not_found"></h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p translate-once="preview.not_found_help"></p>
    </div>
  </div>
</div>

<div ng-if="!finishedLoading()">
  <p class="title"><span class="placeholder-title"></span></p>
  <p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span class="sr-only" translate-once="preview.loading"></span></p>
</div>

<div ng-if="finishedLoading()" class="event-detail">
  <h1 class="title" ng-bind="::event.name"></h1>
  <div class="row">
    <div class="col-sm-3 col-sm-push-9">
      <div class="list-group" ng-if="::permissions">
        <button ng-if="::permissions.editing"
                class="list-group-item"
                type="button"
                ng-click="openEditPage()"><i class="fas fa-pencil-alt" aria-hidden="true"></i>  <span translate-once="preview.edit"></span> <span class="badge" ng-if="event.mainLanguage !== language" ng-bind="::event.mainLanguage"></span></button>
        <button ng-if="::(permissions.editing && permissions.editingMovies)"
                class="list-group-item"
                type="button"
                ng-click="openEditPageMovies()"><i class="fas fa-video" aria-hidden="true"></i>  <span translate-once="preview.editMovie"></span> <span class="badge" ng-if="event.mainLanguage !== language" ng-bind="::event.mainLanguage"></span></button>
        <button ng-if="::permissions.editing"
                class="list-group-item"
                type="button"
                ng-click="openTranslatePage()"><i class="fa fa-globe" aria-hidden="true"></i>  <span translate-once="preview.translate"></span></button>
        <button ng-if="::permissions.duplication"
                class="list-group-item"
                type="button"
                ui-sref='duplication.event(::{id: event.id})'><i class="far fa-copy" aria-hidden="true"></i>  <span translate-once="preview.duplicate"></span></button>
        <button ng-if="::(permissions.duplication && permissions.editingMovies)"
                class="list-group-item"
                type="button"
                ng-click="duplicateMovie()"><i class="fas fa-video" aria-hidden="true"></i>  <span translate-once="preview.duplicate_as_movie"></span></button>
        <a ng-if="::(permissions.editing && !isOmdApp)"
           class="list-group-item"
           ng-href="{{ event.url + '/status' }}"><i class="far fa-calendar-check" aria-hidden="true"></i>  <span translate-once="preview.change_availability"></span></a>
        <button ng-if="::permissions.editing"
                class="list-group-item"
                href="#"
                ng-click="deleteEvent()"><i class="fa fa-trash" aria-hidden="true"></i>  <span translate-once="preview.delete"></span></button>
        <udb-moderation-offer ng-if="::moderationPermission" class="list-group-item moderation-detail" offer-id="{{::event['@id']}}" continue="true"></udb-moderation-offer>
      </div>
    </div>
    <div class="col-sm-9 col-sm-pull-3">
      <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" ng-class="{active: isTabActive(tab.id)}" role="tab">
          <a ng-click="makeTabActive(tab.id)" role="tab" translate-once="preview.tabs.{{tab.id}}" href="#"></a>
        </li>
      </ul>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('data')">
          <table class="table udb3-data-table">
            <colgroup>
              <col style="width:20%"/>
              <col style="width:80%"/>
            </colgroup>
            <tbody>
              <tr>
                <td><span class="row-label" translate-once="preview.title"></span></td>
                <td>{{::event.name}}</td>
              </tr>
              <tr>
                <td><span class="row-label" translate-once="preview.type"></span></td>
                <td>{{::translateType(event.type.label)}}</td>
              </tr>
              <tr ng-if="::event.audience.audienceType !== 'everyone'">
                <td><span class="row-label">Toegang</span></td>
                <td>
                  <p ng-bind="::translateAudience(event.audience.audienceType)"></p>
                  <udb-event-cultuurkuur-component
                          ng-if="::cultuurkuurEnabled"
                          event="event"
                          permission="::permissions.editing" >
                  </udb-event-cultuurkuur-component>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="row-label" translate-once="preview.labels"></span>
                </td>
                <td>
                  <p>
                    <udb-label-select labels="::event.labels"
                                    label-added="labelAdded(label)"
                                    label-removed="labelRemoved(label)">
                    </udb-label-select>
                  </p>
                  <p ng-if="labelResponse === 'error'" class="alert alert-danger">
                    <span translate-once="preview.labels_error" translate-values="{ labelName: '{{labelsError.name}}' }"></span>
                  </p>
                  <p ng-if="labelResponse === 'success'" class="alert alert-success">
                    <span translate-once="preview.labels_success" translate-values="{ addedLabel: '{{addedLabel}}' }"></span>
                  </p>
                  <p ng-if="labelResponse === 'unlabelError'" class="alert alert-danger">
                    <span ng-bind="labelsError"></span>
                  </p>
                </td>
              </tr>
              <tr ng-class="::{muted: isEmpty(event.description)}">
                <td><span class="row-label" translate-once="preview.description"></span></td>
                <td ng-if="::(!isEmpty(event.description))">
                  <div ng-bind-html="::event.description" class="event-detail-description"></div>
                </td>
                <td ng-if="::(isEmpty(event.description))" translate-once="preview.no_description"></td>
              </tr>
              <tr ng-show="::event.location.isRealLocation">
                <td><span class="row-label" translate-once="preview.where"></span></td>
                <td ng-show="::event.location.url"><a ui-sref="split.footer.place-preview({id: event.location.id})">{{eventLocation(event)}}</a></td>
                <td ng-hide="::event.location.url">
                  {{eventLocation(event)}}
                </td>
              </tr>
              <tr ng-show="::event.location.isDummyPlaceForEducationEvents">
                <td><span class="row-label" translate-once="preview.where"></span></td>
                <td><span translate-once="preview.bookable_event_location_info"></span></td>
              </tr>
              <tr ng-show="::event.location.isVirtualLocation">
                <td><span class="row-label" translate-once="preview.where"></span></td>
                <td><span translate-once="preview.online"></span></td>
              </tr>
              <tr>
                <td><span class="row-label" translate-once="preview.online_location"></span></td>
                <td>
                  <span ng-show="::(!isEmpty(event.onlineUrl))">
                    <a href="{{::event.onlineUrl}}" target="_blank">{{::event.onlineUrl}}</a>
                  </span>
                  <span ng-show="::(isEmpty(event.onlineUrl))" translate-once="preview.online_location_missing"></span>
                </td>
              </tr>
              <tr>
                <td><span class="row-label" translate-once="preview.when"></span></td>
                <td>
                  <span ng-if="::calendarSummary" ng-bind-html="::calendarSummary"></span>
                  <span class="text-muted"
                        ng-if="::(calendarSummary !== undefined ? (calendarSummary === false) : undefined)">
                      Probleem bij het ophalen van de kalenderinformatie
                  </span>
                  <div ng-if="isLessonSeries" class="alert alert-info lesson-series-info">
                    <p translate-once="preview.info_lesson_series"></p>
                  </div>
                </td>
              </tr>
              <tr ng-class="::{muted: (!event.organizer)}">
                <td><span class="row-label" translate-once="preview.organizer"></span></td>
                <td ng-if="::event.organizer">
                  <a ng-if="::(!event.hasDummyOrganizer)" ng-href="/organizer/{{event.organizer.id}}/preview" >{{::event.organizer.name}}</a>
                  <span ng-if="::(event.hasDummyOrganizer)">{{::event.organizer.name}}</span>
                </td>
                <td ng-if="::(!event.organizer)" translate-once="preview.no_organizer"></td>
              </tr>
              <tr class="rv-event-info-price" ng-class="::{muted: !event.priceInfo.length}">
                <td><span class="row-label" translate-once="preview.price"></span></td>
                <td ng-if="::event.priceInfo.length">
                  <table class="table table-bordered event-detail-price-table">
                    <tr ng-repeat="priceInfo in ::event.priceInfo">
                      <td>{{priceInfo.name}}</td>
                      <td>
                        <span ng-if="priceInfo.price == 0" translate-once="preview.free"></span>
                        <span ng-if="::priceInfo.price != 0">
                          {{priceInfo.price | currency}} <span translate-once="preview.currency"></span>
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td ng-if="::(event.priceInfo.length == 0)" translate-once="preview.no_price"></td>
              </tr>
              <tr>
                <td><span class="row-label" translate-once="preview.booking_availability"></span></td>
                <td ng-if="::(event.bookingAvailability.type == 'Available')" translate-once="preview.booking_available"></td>
                <td ng-if="::(event.bookingAvailability.type == 'Unavailable')" translate-once="preview.booking_unavailable"></td>
              </tr>
            </tbody>
            <tbody ng-if="::(!isEmpty(event.bookingInfo))" udb-booking-info-detail="::event.bookingInfo"></tbody>
            <tbody udb-contact-point-detail="::event.contactPoint"></tbody>
            <tbody>
              <tr  ng-class="::{muted: noAgeInfo}">
                <td><span class="row-label" translate-once="preview.age_label"></span></td>
                <td>
                  <span ng-if="::!allAges && !noAgeInfo">{{ageRange}}</span>
                  <span ng-if="::allAges && !noAgeInfo" translate-once="preview.all_ages"></span>
                  <span ng-if="noAgeInfo" translate-once="preview.no_age"></span>
                </td>

              </tr>
            </tbody>
            <tbody udb-image-detail="::event.mediaObject" image="::event.image"></tbody>
          </table>
      </div>

      <div role="tabpanel" class="tab-pane" ng-show="isTabActive('history')">
        <div class="timeline">
          <p ng-show="!eventHistory" class="text-center">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span class="sr-only" translate-once="preview.loading"></span>
          </p>
          <div ng-if="::eventHistory">
            <dl ng-repeat="eventAction in ::eventHistory track by $index">
              <dt ng-bind="::eventAction.date | date:'dd/MM/yyyy H:mm'"></dt>
              <dd>
                <span class="author" ng-if="eventAction.author" ng-bind="::eventAction.author"></span>
                <br ng-if="::eventAction.author"/>
                <span class="description" ng-bind="::eventAction.description"></span>
                <div ng-if="::eventAction.api">
                  API: <span class="api" ng-bind="::eventAction.api"></span>
                </div>
                <div ng-if="::eventAction.apiKey">
                  API key: <span class="api" ng-bind="::eventAction.apiKey"></span>
                  <span ng-if="::eventAction.consumerName">(<span class="consumerName" ng-bind="::eventAction.consumerName"></span>)</span>
                </div>
                <div ng-if="::eventAction.auth0ClientId">
                  Auth0 client id: <span class="api" ng-bind="::eventAction.auth0ClientId"></span>
                </div>
                <div ng-if="::eventAction.auth0ClientName">
                  Auth0 client name: <span class="api" ng-bind="::eventAction.auth0ClientName"></span>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('publication')">
        <table class="table udb3-data-table">
          <colgroup>
            <col style="width:20%"/>
            <col style="width:80%"/>
          </colgroup>
          <tbody udb-workflow-status="::event">
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
