<div ng-controller="EventFormStep5Controller as EventFormStep5">
  <a name="extra"></a>
  <section id="extra" ng-show="eventFormData.showStep5">

    <h2 class="title-border">
      <span class="number">5</span>
      <span ng-show="eventFormData.isEvent">Laat je evenement extra opvallen</span>
      <span ng-show="eventFormData.isPlace">Laat deze locatie extra opvallen</span>
    </h2>

    <div class="row">
      <div class="col-sm-7">

        <div class="row extra-titnieel">
          <div class="extra-task state-complete">
            <div class="col-sm-3">
              <em class="extra-task-label">Titel</em>
            </div>
            <div class="col-sm-8">
              <p id="extra-titel-motivator" ng-bind="eventFormData.name.nl"></p>
            </div>
          </div>
        </div>

        <div class="row extra-beschrijving">
          <div class="extra-task" ng-class="descriptionCssClass">
            <div class="col-sm-3">
              <em class="extra-task-label">Beschrijving</em>
              <a ng-if="description" class="btn btn-link to-filling" ng-click="saveDescription(true)">
                 Leegmaken
              </a>
              <span> </span>
              <i class="fa fa-circle-o-notch fa-spin" ng-show="savingDescription"></i>
            </div>
            <div class="col-sm-8">
              <section class="state incomplete">
                <div class="row">
                  <div class="col-sm-6">
                    <a class="btn btn-default to-filling" ng-click="alterDescription()">
                      Tekst toevoegen
                    </a>
                  </div>
                </div>
              </section>
              <section class="state complete filling">
                <div class="form-group">
                  <textarea ng-blur="saveDescription()"
                            ng-focus="focusDescription()"
                            class="form-control"
                            ng-model="description"
                            rows="6"
                            udb-auto-scroll
                            focus-if="descriptionCssClass == 'state-filling'"></textarea>

                  <p class="tip description-info" ng-if="descriptionInfoVisible && countCharacters() < 200">
                    De eerste 200 tekens zijn het belangrijkst om een nieuw publiek aan te spreken.
                    Nog <span ng-bind="(200 - countCharacters())"></span> tekens.
                    <span class="loader">
                      <span class="empty"></span>
                      <span class="bar" ng-style="{width : (countCharacters()/2)+'%'}" ></span>
                    </span>
                  </p>
                  <p class="tip description-info" ng-if="descriptionInfoVisible && countCharacters() >= 200">
                    Plaats de belangrijkste boodschap in de eerste 200 tekens. Je kan nog verder aanvullen met achtergrondinformatie.
                  </p>
                  <div class="tip" ng-switch="eventFormData.type.id">
                    <p ng-switch-when="0.17.0.0.0">
                      Geef hier een wervende omschrijving van de route. Vermeld in deze tekst <strong>hoe</strong>
                       de route wordt afgelegd (per fiets, per boot, ...), de mogelijke tussenstops,
                       de <strong>duur</strong>, <strong>afstand</strong> en hoe de route <strong>begeleid</strong>
                       is (met gids, brochure of wegwijzers).
                    </p>
                    <p ng-switch-when="0.7.0.0.0">
                      Geef hier een wervende omschrijving van de rondleiding. Vermeld het
                       <strong>max. aantal personen</strong> per groepje, <strong>hoe</strong> de rondleiding wordt
                       georganiseerd (doorlopend, met intervallen of op vaste tijdstippen) en of er
                       <strong>speciale aandachtspunten</strong> zijn (vb. laarzen aangewezen).
                    </p>
                    <p ng-switch-when="0.14.0.0.0">
                      Geef hier een wervende omschrijving van het monument. Geef ook aan indien het monument slechts
                       beperkt opengesteld is (vb. enkel salons).
                    </p>
                  </div>
                </div>
                <div ng-show="descriptionError" class="alert alert-danger">
                  Er ging iets fout bij het opslaan van de beschrijving.
                </div>
              </section>
            </div>
          </div>
        </div>

        <udb-form-age></udb-form-age>

        <div class="row extra-organisator">
          <div class="extra-task" ng-class="organizerCssClass">
            <div class="col-sm-3">
              <em class="extra-task-label">Organisatie</em>
              <span> </span>
              <i class="fa fa-circle-o-notch fa-spin" ng-show="savingOrganizer"></i>
            </div>
            <div class="col-sm-8">
              <section class="state incomplete">
                <a class="btn btn-default to-filling" ng-click="organizerCssClass = 'state-filling'">
                    Organisatie toevoegen
                </a>
              </section>
              <section class="state complete">
                <span>
                  <span ng-bind="eventFormData.organizer.name"></span>
                  <a class="close" ng-click="deleteOrganizer()">
                    <span aria-hidden="true"> &times;</span>
                  </a>
                </span>
              </section>
              <section class="state filling">
                <div class="form-group">
                  <label>
                    Kies een organisatie <i class="fa fa-circle-o-notch fa-spin" ng-show="loadingOrganizers"></i>
                  </label>
                  <div id="organisator-kiezer">
                    <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                      <input type="text" class="form-control uib-typeahead" id="organisator-autocomplete"
                             ng-model="organizer"
                             uib-typeahead="organizer for organizer in getOrganizers($viewValue)"
                             typeahead-on-select="selectOrganizer(organizer)"
                             typeahead-min-length="3"
                             typeahead-template-url="templates/organisation-uitpas-typeahead-template.html"
                             typeahead-wait-ms="300"
                             focus-if="organizerCssClass == 'state-filling'"
                             udb-auto-scroll/>
                      <div class="dropdown-menu-no-results text-center" ng-show="emptyOrganizerAutocomplete">
                        <div class="panel panel-default text-center">
                          <div class="panel-body">
                            <p>Organisatie niet gevonden?</p>
                            <button type='button' class='btn btn-primary' ng-click="openOrganizerModal()">
                              Nieuwe organisator toevoegen
                            </button>
                          </div>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </section>
              <div ng-show="organizerError" class="alert alert-danger">
                Er ging iets fout bij het opslaan van de organisator.
              </div>
            </div>
          </div>
        </div>

        <price-info price="price" ng-if="!hidePriceInfo"></price-info>
        <uitpas-info organizer="eventFormData.organizer" price="price"></uitpas-info>

        <div class="row extra-contact">
          <div class="extra-task meer-info" ng-class="contactInfoCssClass">
            <div class="col-sm-3">
              <em class="extra-task-label">Contact &amp; reservatie</em>
              <span> </span>
              <i class="fa fa-circle-o-notch fa-spin" ng-show="savingContactInfo"></i>
            </div>

            <div class="col-sm-8">
              <section class="state incomplete">
                <a class="btn btn-default" ng-click="addContactInfo()">
                  Contactinformatie toevoegen
                </a>
              </section>

              <section class="state filling complete">
                <form name="contactInfoForm" class="contact-info">
                  <table class="table">
                    <tr ng-repeat="(key, info) in contactInfo"
                        ng-model="info"
                        udb-contact-info-validation
                        ng-class="{'has-error' : infoErrorMessage !== '' }"
                        ng-change="saveContactInfo()">
                      <td>
                        <select class="form-control" ng-model="info.type"
                                ng-change="clearInfo(); removeBookingInfo('{{info.type}}')">
                          <option value="url">Website</option>
                          <option value="phone">Telefoonnummer</option>
                          <option value="email">E-mailadres</option>
                        </select>
                      </td>
                      <td>
                        <ng-switch on="info.type">
                          <input type="text"
                                 ng-switch-when="url"
                                 udb-http-prefix
                                 class="form-control"
                                 ng-model="info.value"
                                 name="contact[{{key}}]"
                                 ng-change="validateInfo(); saveContactInfo();"
                                 ng-model-options="{ updateOn: 'blur' }"/>
                          <input type="text"
                                 ng-switch-default
                                 class="form-control"
                                 ng-model="info.value"
                                 name="contact[{{key}}]"
                                 ng-change="validateInfo(); saveContactInfo();"
                                 ng-model-options="{ updateOn: 'blur' }"/>
                        </ng-switch>
                        <span class="help-block" ng-hide="infoErrorMessage === ''" ng-bind="infoErrorMessage"></span>
                        <div class="booking-options" ng-show="showBookingOption(info)">
                          <label>
                            <input type="checkbox"
                                   class="reservatie-{{info.type}}-check reservatie-check"
                                   ng-model="info.booking"
                                   ng-click="toggleBookingType(info)">
                            Gebruik voor reservatie
                          </label>
                          <div class="reservatie-website-info reservatie-info"
                               ng-if="info.type === 'url' && info.booking">
                            <div class="reservatie-info-stap2">
                              <div class="weergave">
                                <p><strong>Hoe mag deze link verschijnen?</strong></p>
                                <select ng-model="bookingModel.urlLabel"
                                        ng-change="saveWebsitePreview()">
                                  <option value="Koop tickets">Koop tickets</option>
                                  <option value="Reserveer plaatsen">Reserveer plaatsen</option>
                                  <option value="Controleer beschikbaarheid">Controleer beschikbaarheid</option>
                                  <option value="Schrijf je in">Schrijf je in</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <button ng-if="!info.booking" type="button" class="close" aria-label="Close" ng-click="deleteContactInfo(key)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <button ng-if="info.booking" type="button" class="close" aria-label="Close" ng-click="deleteBookingInfo(info, key)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <a ng-click="addContactInfo()">Meer contactgegevens toevoegen</a>
                      </td>
                    </tr>
                  </table>
                </form>
              </section>

              <div class="row extra-tickets-periode"
                   ng-show="hasBookingInfo()">
                  <div class="extra-task">
                      <udb-reservation-period></udb-reservation-period>
                  </div>
              </div>

              <div ng-show="contactInfoError" class="alert alert-danger">
                Er ging iets fout bij het opslaan van de contact info.
              </div>

            </div>

          </div>
        </div>

        <div class="row extra-toegankelijkheid" ng-if="eventFormData.isPlace">
          <div class="extra-task" ng-class="facilitiesCssClass">
            <div class="col-sm-3">
              <em class="extra-task-label">Toegankelijkheid</em>
            </div>
            <div class="col-sm-8">
              <section class="state incomplete">
                <a class="btn btn-default" href="#" ng-click="openFacilitiesModal();">Voorzieningen toevoegen</a>
                <a class="btn btn-link btn-nvt" ng-click="setFacilitiesInapplicable();">Niet van toepassing</a>
              </section>
              <section class="state complete">
                <ul ng-if="selectedFacilities.length > 0">
                  <li ng-repeat="facility in selectedFacilities" ng-bind="::facility.label"></li>
                </ul>
                <span>
                  <span ng-show="facilitiesInapplicable">Niet van toepassing</span>
                  <a class="btn btn-link" ng-click="openFacilitiesModal();">Wijzigen</a>
                </span>
              </section>
            </div>
          </div>
        </div>

        <udb-form-audience></udb-form-audience>
      </div>

      <div class="col-sm-5">

        <div class="image-upload" ng-class="eventFormData.mediaObjects.length ? 'state-complete' : 'state-incomplete'">
          <div class="image-upload-none state incomplete">
            <span class="image-upload-icon"></span>
            <p class="muted">Voeg een afbeelding toe zodat je bezoekers je activiteit beter herkennen.</p>
          </div>

          <div class="image-upload-list state complete" ng-if="eventFormData.mediaObjects.length > 0">
            <h4>Afbeeldingen</h4>
            <div ng-repeat="image in eventFormData.mediaObjects | filter:{'@type': 'schema:ImageObject'} track by image.contentUrl">
              <div class="uploaded-image">
                <div class="media" ng-class="{'main-image': ($index === 0)}">
                  <a class="media-left" href="#">
                    <img ng-src="{{ image.thumbnailUrl }}?width=50&height=50">
                  </a>

                  <div class="media-body">
                    <div ng-bind="image.description"></div>
                    <div class="text-muted">&copy; <span ng-bind="image.copyrightHolder">Copyright</span></div>
                  </div>

                  <div class="media-actions">
                      <a class="btn btn-xs btn-primary" ng-click="editImage(image)">Wijzigen</a>
                      <a class="btn btn-xs btn-danger" ng-click="removeImage(image)">Verwijderen</a>
                      <a class="btn btn-xs btn-default select-main-image" ng-click="selectMainImage(image)">Maak hoofdafbeelding</a>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <a class="btn btn-default" href="#" ng-click="openUploadImageModal(-1)">Afbeelding toevoegen</a>
          </div>
        </div>

      </div>

    </div>

  </section>
</div>
