<div ng-controller="EventFormStep5Controller as EventFormStep5" >
  <a name="extra"></a>
  <section id="extra" ng-show="eventFormData.showStep5">

    <h2 class="title-border">
      <span class="number">5</span>
      <span ng-show="eventFormData.isEvent" translate-once="eventForm.step5.expose_event"></span>
      <span ng-show="eventFormData.isPlace" translate-once="eventForm.step5.expose_place"></span>
    </h2>

    <div class="row">
      <div class="col-sm-7">

        <div class="row extra-titnieel">
          <div class="extra-task state-complete">
            <div class="col-sm-3">
              <em class="extra-task-label" translate-once="eventForm.step5.title"></em>
            </div>
            <div class="col-sm-8">
              <p id="extra-titel-motivator" ng-bind="eventFormData.name"></p>
            </div>
          </div>
        </div>

        <div class="row extra-beschrijving">
          <div class="extra-task" ng-class="descriptionCssClass">
            <div class="col-sm-3">
              <em class="extra-task-label" translate-once="eventForm.step5.description"></em>
              <span> </span>
              <i class="fa fa-circle-o-notch fa-spin" ng-show="savingDescription"></i>
            </div>
            <div class="col-sm-8">
              <section class="state incomplete">
                <div class="row">
                  <div class="col-sm-6">
                    <a class="btn btn-default to-filling"
                       translate-once="eventForm.step5.add_text"
                       ng-click="alterDescription()">
                    </a>
                  </div>
                </div>
              </section>
              <section class="state complete filling">
                <div class="form-group">
                  <textarea ng-blur="saveDescription()"
                            ng-focus="focusDescription()"
                            class="form-control"
                            ng-model="description"
                            rows="6"
                            udb-auto-scroll
                            focus-if="descriptionCssClass == 'state-filling'">
                            </textarea>

                  <p class="tip description-info" ng-if="descriptionInfoVisible && countCharacters() < 200">
                    <span translate-once="eventForm.step5.required_200"></span>
                    <span translate-once="eventForm.step5.required_still"></span> <span ng-bind="(200 - countCharacters())"></span> <span translate-once="eventForm.step5.required_signs"></span>
                    <span class="loader">
                      <span class="empty"></span>
                      <span class="bar" ng-style="{width : (countCharacters()/2)+'%'}" ></span>
                    </span>
                  </p>
                  <p class="tip description-info"
                     translate-once="eventForm.step5.required_200_help"
                     ng-if="descriptionInfoVisible && countCharacters() >= 200">
                  </p>
                  <p>
                    <a ng-if="description"
                       class="to-filling"
                       translate-once="eventForm.step5.empty"
                       ng-click="saveDescription(true)">
                    </a>
                  </p>
                  <div class="tip" ng-switch="eventFormData.type.id">
                    <p ng-switch-when="0.17.0.0.0" translate-once="eventForm.step5.tip_route"></p>
                    <p ng-switch-when="0.7.0.0.0" translate-once="eventForm.step5.tip_rondleiding"></p>
                    <p ng-switch-when="0.14.0.0.0" translate-once="eventForm.step5.tip_monument"></p>
                  </div>
                </div>
                <div ng-show="descriptionError"
                     class="alert alert-danger"
                     translate-once="eventForm.step5.description_error">
                </div>
              </section>
            </div>
          </div>
        </div>

        <udb-form-age></udb-form-age>

        <div class="row extra-organisator">
          <div class="extra-task" ng-class="organizerCssClass">
            <div class="col-sm-3">
              <em class="extra-task-label" translate-once="eventForm.step5.organizer"></em>
              <span> </span>
              <i class="fa fa-circle-o-notch fa-spin" ng-show="savingOrganizer"></i>
            </div>
            <div class="col-sm-8">
              <section class="state incomplete">
                <a class="btn btn-default to-filling"
                   translate-once="eventForm.step5.add_organizer"
                   ng-click="organizerCssClass = 'state-filling'">
                </a>
              </section>
              <section class="state complete">
                <span>
                  <span ng-bind="eventFormData.organizer.name"></span>
                  <a class="close" ng-click="deleteOrganizerHandler()">
                    <span aria-hidden="true"> &times;</span>
                  </a>
                </span>
                <div ng-if="hasTicketSales" class="alert alert-danger" translate="uitpas.uitpasInfo.cantChangeOrganiser"></div>
                <div ng-if="hasUitpasError" class="alert alert-danger" translate="uitpas.uitpasInfo.unavailable"></div>
              </section>
              <section class="state filling">
                <div class="form-group">
                  <label>
                    <span translate-once="eventForm.step5.choose_organizer"></span> <i class="fa fa-circle-o-notch fa-spin" ng-show="loadingOrganizers"></i>
                  </label>
                  <div id="organisator-kiezer">
                    <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                      <input type="text" class="form-control uib-typeahead" id="organisator-autocomplete"
                             ng-model="organizer"
                             uib-typeahead="organizer for organizer in getOrganizers($viewValue)"
                             typeahead-on-select="selectOrganizer(organizer)"
                             typeahead-min-length="3"
                             typeahead-template-url="templates/organisation-uitpas-typeahead-template.html"
                             typeahead-wait-ms="300"
                             focus-if="organizerCssClass == 'state-filling'"
                             udb-auto-scroll/>
                      <div class="dropdown-menu-no-results text-center" ng-show="emptyOrganizerAutocomplete">
                        <div class="panel panel-default text-center">
                          <div class="panel-body">
                            <p translate-once="eventForm.step5.organizer_not_found"></p>
                            <button type='button'
                                    class='btn btn-primary'
                                    translate-once="eventForm.step5.add_new_organizer"
                                    ng-click="openOrganizerModal()">
                            </button>
                          </div>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </section>
              <div ng-show="organizerError" class="alert alert-danger" translate-once="eventForm.step5.organizer_error">
              </div>
            </div>
          </div>
        </div>

        <price-info price="price" ng-if="!disablePriceInfo" event-id="eventFormData.id" organizer="eventFormData.organizer"></price-info>
        <uitpas-info organizer="eventFormData.organizer" price="eventFormData.priceInfo"></uitpas-info>

        <div class="row extra-contact">
          <div class="extra-task meer-info" ng-class="contactInfoCssClass">
            <div class="col-sm-3">
              <em class="extra-task-label" translate-once="eventForm.step5.contact"></em>
              <span> </span>
              <i class="fa fa-circle-o-notch fa-spin" ng-show="savingContactInfo"></i>
            </div>

            <div class="col-sm-8">
              <section class="state incomplete">
                <a class="btn btn-default" ng-click="addContactInfo()" translate-once="eventForm.step5.add_contact">
                </a>
              </section>

              <section class="state filling complete">
                <form name="contactInfoForm" class="contact-info">
                  <table class="table">
                    <tr ng-repeat="(key, info) in contactInfo"
                        ng-model="info"
                        udb-contact-info-validation
                        ng-class="{'has-error' : infoErrorMessage !== '' }"
                        ng-change="saveContactInfo()">
                      <td>
                        <select class="form-control" ng-model="info.type"
                                ng-change="clearInfo(); removeBookingInfo('{{info.type}}')">
                          <option value="url" translate-once="eventForm.step5.website"></option>
                          <option value="phone" translate-once="eventForm.step5.phone"></option>
                          <option value="email" translate-once="eventForm.step5.e-mail"></option>
                        </select>
                      </td>
                      <td>
                        <ng-switch on="info.type">
                          <input type="text"
                                 ng-switch-when="url"
                                 udb-http-prefix
                                 class="form-control"
                                 ng-model="info.value"
                                 name="contact[{{key}}]"
                                 ng-change="validateInfo(); saveContactInfo();"
                                 ng-model-options="{ updateOn: 'blur' }"/>
                          <input type="text"
                                 ng-switch-default
                                 class="form-control"
                                 ng-model="info.value"
                                 name="contact[{{key}}]"
                                 ng-change="validateInfo(); saveContactInfo();"
                                 ng-model-options="{ updateOn: 'blur' }"/>
                        </ng-switch>
                        <span class="help-block" ng-hide="infoErrorMessage === ''" ng-bind="infoErrorMessage"></span>
                        <div class="booking-options" ng-show="showBookingOption(info)">
                          <label>
                            <input type="checkbox"
                                   class="reservatie-{{info.type}}-check reservatie-check"
                                   ng-model="info.booking"
                                   ng-click="toggleBookingType(info)">
                            <span translate-once="eventForm.step5.use_booking"></span>
                          </label>
                          <div class="reservatie-website-info reservatie-info"
                               ng-if="info.type === 'url' && info.booking">
                            <div class="reservatie-info-stap2">
                              <div class="weergave">
                                <p><strong translate-once="eventForm.step5.booking_exposure"></strong></p>
                                <select ng-model="bookingModel.urlLabel[mainLanguage]"
                                        ng-change="saveWebsitePreview()"
                                        ng-options="option as option for option in bookingOptions">
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <button ng-if="!info.booking" type="button" class="close" aria-label="Close" ng-click="deleteContactInfo(key)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <button ng-if="info.booking" type="button" class="close" aria-label="Close" ng-click="deleteBookingInfo(info, key)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <a ng-click="addContactInfo()" translate-once="eventForm.step5.add_more_contact"></a>
                      </td>
                    </tr>
                  </table>
                </form>
              </section>

              <div class="row extra-tickets-periode"
                   ng-show="hasBookingInfo()">
                  <div class="extra-task">
                      <udb-reservation-period></udb-reservation-period>
                  </div>
              </div>

              <div ng-show="contactInfoError" class="alert alert-danger" translate-once="eventForm.step5.contact_error">
              </div>

            </div>

          </div>
        </div>

        <udb-form-audience></udb-form-audience>
      </div>

      <div class="col-sm-5">

        <div class="image-upload" ng-class="eventFormData.mediaObjects.length ? 'state-complete' : 'state-incomplete'">
          <div class="image-upload-none state incomplete">
            <span class="image-upload-icon"></span>
            <p class="muted" translate-once="eventForm.step5.image_help"></p>
          </div>

          <div class="image-upload-list state complete" ng-if="eventFormData.mediaObjects.length > 0">
            <h4 translate-once="eventForm.step5.images"></h4>
            <div ng-repeat="image in eventFormData.mediaObjects | imagesByLanguage:eventFormData.mainLanguage track by image.contentUrl">
              <div class="uploaded-image">
                <div class="media" ng-class="{'main-image': ($index === 0)}">
                  <a class="media-left" href="#">
                    <img ng-src="{{ image.thumbnailUrl }}?width=50&height=50">
                  </a>

                  <div class="media-body">
                    <div ng-bind="image.description"></div>
                    <div class="text-muted">&copy; <span ng-bind="image.copyrightHolder"><span translate-once="eventForm.step5.copyright"></span></span></div>
                  </div>

                  <div class="media-actions">
                      <a class="btn btn-xs btn-primary" ng-click="editImage(image)" translate-once="eventForm.step5.change"></a>
                      <a class="btn btn-xs btn-danger" ng-click="removeImage(image)" translate-once="eventForm.step5.delete"></a>
                      <a class="btn btn-xs btn-default select-main-image" ng-click="selectMainImage(image)" translate-once="eventForm.step5.main_image"></a>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <a class="btn btn-default"
               href="#"
               translate-once="eventForm.step5.add_image"
               ng-click="openUploadImageModal(-1)"></a>
          </div>
        </div>

      </div>

    </div>

  </section>
</div>
