<div ng-controller="EventFormStep1Controller as EventFormStep1">
  <a name="wat"></a>
  <section id="wat">
    <section class="row">
      <div class="col-md-12">
        <h2 class="title-border">
          <span class="number">1</span>
          <span translate-once="eventForm.step1.title"></span>
        </h2>
      </div>
    </section>

    <div class="row" ng-show="!activeEventType">
      <div ng-class="splitTypes ? 'col-sm-5': 'col-sm-12'"
           ng-show="splitTypes || eventFormData.getType() === 'event'">
        <label class="event-type-choser-label event"><span translate-once="eventForm.step1.label_event"></span></label>
        <ul class="list-inline" id="step1-events">
          <li ng-repeat="eventType in ::eventTypeLabels | orderBy:'label'" ng-show="eventType.primary === true || showAllEventTypes">
            <button ng-bind="::eventType.label" class="btn btn-default"
                    ng-click="setEventType(eventType, true)"></button>
          </li>
          <li ng-hide="showAllEventTypes">
            <a href="" ng-click="toggleEventTypes()" translate-once="eventForm.step1.show_everything"></a>
          </li>
        </ul>
      </div>

      <div class="col-sm-2" ng-show="splitTypes">
        <p class="text-center event-type-splitter"><em translate-once="eventForm.step1.or"></em></p>
      </div>

      <div ng-class="splitTypes ? 'col-sm-5': 'col-sm-12'"
           ng-show="splitTypes || eventFormData.getType() === 'place'">
        <label class="event-type-choser-label place"><span translate-once="eventForm.step1.location_label"></span></label>
        <ul class="list-inline" id="step1-places">
          <li ng-repeat="placeType in ::placeLabels | orderBy:'label'" ng-show="placeType.primary == true || showAllPlaces">
            <button ng-bind="::placeType.label" class="btn btn-default"
                    ng-click="setEventType(placeType, false)"></button>
          </li>
          <li ng-hide="showAllPlaces">
            <a href="" ng-click="togglePlaces()" translate-once="eventForm.step1.show_everything"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-12" ng-hide="activeEventType === ''">
        <span class="btn-chosen" ng-bind="activeEventTypeLabel"></span>
        <a class="btn btn-link btn-default"
           href="" ng-click="resetEventType()"
           translate-once="eventForm.step1.change"></a>
      </p>

      <div class="col-xs-12 theme-refinement" ng-hide="activeEventType === '' || activeTheme !== ''">
        <label class="event-theme-label" ng-show="eventThemeLabels.length" translate-once="eventForm.step1.refine"></label>
        <div ng-repeat="(key, values) in eventThemeLabels | groupBy: 'group'">
          <div class="row">
            <div class="col-xs-2" ng-show="key !== 'undefined'" >
              <p class="text-muted">{{key}}</p>
            </div>
            <div ng-class="key === 'undefined' ? 'col-xs-12' : 'col-xs-10'">
              <ul class="list-inline list-themes">
                <li ng-repeat="eventTheme in values">
                  <button ng-bind="::eventTheme.label" class="btn btn-default"
                          ng-click="setTheme(eventTheme)"></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <p class="col-xs-12 col-md-12"  ng-hide="activeTheme === ''">
        <span class="btn-chosen" ng-bind="activeThemeLabel"></span>
        <a class="btn btn-link btn-default"
           href="" ng-click="resetTheme()"
           translate-once="eventForm.step1.change"></a>
      </p>

  </section>

</div>
