<div class="event-validation" ng-if="efpc.eventFormData.showStep5">
    <div class="text-danger" ng-if="efpc.error" ng-bind="efpc.error"></div>

    <udb-event-form-save-time-tracker></udb-event-form-save-time-tracker>
    <div ng-if="!efpc.saving">
      <button type="submit"
              class="btn btn-success"
              ng-click="efpc.publish()"
              ng-if="efpc.isDraft(efpc.eventFormData.workflowStatus) && efpc.hasNoDefault">Meteen publiceren</button>
      <button class="btn btn-success"
              ng-click="efpc.publishLater()"
              ng-if="efpc.isDraft(efpc.eventFormData.workflowStatus) && efpc.hasNoDefault">Later publiceren</button>
      <button type="submit"
              class="btn btn-success"
              ng-click="efpc.preview()"
              ng-if="!efpc.isDraft(efpc.eventFormData.workflowStatus)">Klaar met bewerken</button>
      <button type="submit"
              class="btn btn-success"
              ng-click="efpc.publish()"
              ng-if="efpc.isDraft(efpc.eventFormData.workflowStatus) && !efpc.hasNoDefault">Klaar met bewerken</button>
      <span ng-if="efpc.hasNoDefault && efpc.eventFormData.availableFrom !== ''" && !efpc.isDraft(efpc.eventFormData.workflowStatus)>
          Online vanaf <span ng-bind="efpc.eventFormData.availableFrom | date: 'dd/MM/yyyy'"></span>
      </span>
    </div>
    <div ng-if="efpc.saving">
      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
</div>
