<div ng-controller="EventFormStep3Controller as EventFormStep3">

<section id="waar" ng-show="eventFormData.showStep3">
  <form name="step3Form" class="css-form">
    <div class="step-title">
      <div class="row">
        <div class="col-xs-8">
          <h2>
            <span class="number">3</span>
            <span ng-show="eventFormData.isEvent" translate-once="eventForm.step3.title_event"></span>
            <span ng-show="eventFormData.isPlace" translate-once="eventForm.step3.title_place"></span>
          </h2>
        </div>
        <div class="col-xs-4">
          <select ng-change="changeCountrySelection()"
            ng-options="option.code | translate for option in availableCountries track by option.code"
            ng-model="selectedCountry"
            class="form-control"
            ng-show="availableCountries.length > 1">
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <!-- show info alert when event is a BOOKABLE_EVENT -->
        <div ng-show="selectedCountry.code === 'BOOKABLE_EVENT'">
          <div class="alert alert-info">
            <span translate-once="eventForm.step3.bookable_event_info_alert"></span>
          </div>
          <button type="button" class="btn btn-primary" ng-click="" translate-once="eventForm.step3.bookable_event_next_button">Ga verder</button>
        </div>
        <span ng-show="selectedCountry.code==='BE'">
          <label for="gemeente-autocomplete"
                 id="gemeente-label"
                 ng-hide="selectedCity">
                 <span translate-once="eventForm.step3.choose_city"></span>
                 <span translate-once="eventForm.step3.choose_city_helper" class="text-muted"></span>
         </label>
       </span>
       <span ng-show="selectedCountry.code==='NL'">
         <label for="gemeente-autocomplete"
                id="gemeente-label"
                ng-hide="selectedCity">
                <span translate-once="eventForm.step3.choose_residence"></span>
                <span translate-once="eventForm.step3.choose_residence_helper" class="text-muted"></span>
        </label>
        </span>
        <div id="gemeente-kiezer" ng-hide="selectedCity" ng-show="selectedCountry=='nl'">
          <span style="position: relative; display: inline-block; direction: ltr;" class="twitter-typeahead">
            <input type="text"
                   id="gemeente-autocomplete"
                   class="form-control uib-typeahead"
                   ng-model="cityAutocompleteTextField"
                   udb-auto-scroll
                   uib-typeahead="city as city.label for city in cities | filter:filterCities($viewValue) | orderBy:orderByLevenshteinDistance($viewValue)"
                   typeahead-on-select="selectCity($item, $label)"
                   typeahead-min-length="2"
                   typeahead-template-url="templates/city-suggestion.html"
                   autocomplete="off" />
          </span>
          <div class="alert alert-danger"
               ole="alert"
               translate-once="eventForm.step3.problem_city"
               ng-show="cityAutoCompleteError">
          </div>
        </div>
        <div id="gemeente-gekozen" ng-show="selectedCity">
          <span class="btn-chosen" id="gemeente-gekozen-button" ng-bind="selectedCity"></span>
          <a href=""
             class="btn btn-default btn-link"
             translate-once="eventForm.step3.change"
             ng-click="changeCitySelection()"></a>
        </div>


    <div id="waar-evenement" class="clearfix" ng-show="eventFormData.isEvent && selectedCity">
      <div class="row">
        <div class="col-xs-12">
          <label id="locatie-label" ng-show="!selectedLocation">
            <span translate-once="eventForm.step3.choose_location"></span> <i class="fa fa-circle-o-notch fa-spin" ng-show="loadingPlaces"></i>
          </label>
          <div id="locatie-kiezer" ng-hide="selectedLocation || loadingPlaces">
            <span style="position: relative; display: block; direction: ltr;" class="twitter-typeahead">
              <input type="text" ng-change="locationSearched()"
                     translate-once-placeholder="eventForm.step3.placeholder_location"
                     class="form-control typeahead"
                     ng-model="locationAutocompleteTextField"
                     uib-typeahead="location.id as location.name for location in filteredLocations = (locationsForCity | filter:filterCityLocations($viewValue)) | orderBy:orderCityLocations($viewValue) | limitTo:50"
                     typeahead-on-select="selectLocation($item, $model, $label)"
                     typeahead-min-length="3"
                     typeahead-template-url="templates/place-suggestion.html"
                     typeahead-popup-template-url="templates/place-suggestion-popup.html"
                     focus-if="!loadingPlaces"
                     udb-auto-scroll/>
              <div class="plaats-adres-resultaat dropdown-menu-no-results"
                   ng-show="(!cityHasLocations() || filteredLocations.length === 0) && locationsSearched">
                <div class="panel panel-default text-center">
                  <div class="panel-body">
                    <p translate-once="eventForm.step3.location_not_found"></p>
                    <button type="button" class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#waar-locatie-toevoegen"
                            translate-once="eventForm.step3.add_location"
                            ng-click="openPlaceModal()">
                    </button>
                  </div>
                </div>
              </div>
            </span>
            <div class="alert alert-danger"
                 role="alert"
                 translate-once="eventForm.step3.location_error"
                 ng-show="locationAutoCompleteError">
            </div>
          </div>

          <div id="locatie-gekozen" ng-show="selectedLocation" >
            <span ng-bind="selectedLocation.name"></span>
            <button type="button"
                    class="btn btn-default btn-link"
                    data-toggle="modal"
                    data-target="#waar-locatie-toevoegen"
                    translate-once="eventForm.step3.change"
                    ng-click="changeLocationSelection()"></button>
            <br>
            <span ng-bind="selectedLocation.address.streetAddress"></span>
          </div>

        </div>
      </div>
    </div>

    <div id="waar-plaats" class="clearfix" ng-show="eventFormData.isPlace && selectedCity">
      <div class="plaats-adres-ingeven" ng-hide="placeStreetAddress">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group" ng-class="{'has-error' : showValidation || (step3Form.street.$error.required && !step3Form.street.$pristine)}">
              <label translate-once="eventForm.step3.street"></label>
              <input class="form-control"
                     id="straat"
                     name="street"
                     ng-model="newPlaceStreetAddress"
                     ng-change="resetStreetValidation()"
                     translate-once-placeholder="eventForm.step3.placeholder_street"
                     type="text"
                     required />
              <span class="help-block"
                    translate-once="eventForm.step3.street_validate"
                    ng-show="showValidation && step3Form.street.$error.required">
              </span>
              <span class="help-block" ng-show="showValidation && showStreetValidation" translate-once="eventForm.step3.street_validate_long">
              </span>
            </div>
            <div class="form-group"
                 ng-if="selectedCountry.code==='NL'"
                 ng-class="{'has-error' : showValidation || (step3Form.postalCode.$error.required && !step3Form.postalCode.$pristine)}">
              <label translate-once="eventForm.step3.zip"></label>
              <span class="text-muted">bv. 1104CA</span>
              <input class="form-control"
                     id="postalCode"
                     name="postalCode"
                     ng-model="newPlacePostalCode"
                     ng-change="resetZipValidation()"
                     translate-once-placeholder="eventForm.step3.placeholder_zip"
                     type="text"
                     required />
              <span class="help-block"
                    translate-once="eventForm.step3.zip_validate"
                    ng-show="showValidation && step3Form.postalCode.$error.required">
              </span>
              <span class="help-block" ng-show="showValidation && showZipValidation" translate-once="eventForm.step3.invalid_zip">
              </span>
            </div>
          </div>
        </div>
        <a class="btn btn-primary plaats-ok"
           ng-if="selectedCountry.code==='BE'"
           translate-once="eventForm.step3.ok"
           ng-click="setPlaceStreetAddress(newPlaceStreetAddress)"></a>
        <a class="btn btn-primary plaats-ok"
           ng-if="selectedCountry.code==='NL'"
           translate-once="eventForm.step3.ok"
           ng-click="setNLPlaceStreetAddress(newPlaceStreetAddress, step3Form.postalCode.$viewValue)"></a>
      </div>

      <div class="plaats-adres-resultaat" ng-show="placeStreetAddress">
        <span>
          <span class="btn-chosen" ng-bind="eventFormData.address.streetAddress"></span>
          <a class="btn btn-link plaats-adres-wijzigen"
             translate-once="eventForm.step3.change"
             ng-click="changePlaceStreetAddress()"></a>
        </span>
      </div>
    </div>

  </form>
</section>

</div>
