<div ng-controller="EventFormStep2Controller as EventFormStep2">
  <a name="wanneer"></a>
  <section id="wanneer" ng-show="eventFormData.showStep2">
    <h2 class="title-border">
      <span class="number">2</span>
      <span ng-show="eventFormData.isEvent">Wanneer vindt dit evenement of deze activiteit plaats?</span>
      <span ng-show="eventFormData.isPlace">Wanneer is deze plaats of locatie open?</span>
    </h2>

    <udb-form-place-calendar ng-if="eventFormData.isPlace"></udb-form-place-calendar>
    <udb-form-event-calendar ng-if="eventFormData.isEvent"></udb-form-event-calendar>
  </section>
</div>
