<div class="row extra-prijs">
  <div class="extra-task" ng-class="$ctrl.priceCssClass">
    <div class="col-sm-3">
      <em class="extra-task-label">Prijs</em>
        <i class="fa fa-circle-o-notch fa-spin" ng-show="savingPrice"></i>
    </div>
    <div class="col-sm-8">

      <div ng-show="$ctrl.price.length == 0">
        <section>
          <a class="btn btn-default to-filling"
             ng-click="$ctrl.priceCssClass = 'state-filling'; $ctrl.openModal()">
            Prijzen toevoegen
          </a>
          <a class="btn btn-link"
             ng-click="$ctrl.setPriceFree()">Gratis</a>
        </section>
      </div>
      <div ng-show="$ctrl.price.length > 0">
        <table class="table">
          <thead>
            <td>Prijzen</td>
            <td>
              <a class="btn btn-default pull-right" ng-click="$ctrl.openModal()">
              Wijzigen
            </a>
            </td>
          </thead>
          <tr ng-repeat="(key, priceInfo) in $ctrl.price"
              ng-model="priceInfo">
            <td>{{priceInfo.name}}</td>
            <td>
              <span ng-if="priceInfo.price == 0">
                Gratis
              </span>
              <span ng-if="priceInfo.price != 0">
                {{priceInfo.price | currency}} euro
              </span>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
