<td>
  <strong>
    <a ui-sref="split.organizerDetail({ id: event.id })" ng-bind="::event.name"></a>
  </strong>
  <br/>
  <small ng-if="event.address">
    <span ng-bind="::event.address.streetAddress"></span>
    <span ng-if="_.isEmpty(event.address)">,</span>
    <span ng-bind="::event.address.postalCode"></span> <span ng-bind="::event.address.addressLocality"></span>
  </small>
</td>

<td ng-if="!organizerCtrl.fetching">
  <span ng-if="!event.deleted">
    <div class="pull-right">
      <a class="btn btn-default" ui-sref="split.organizerEdit({ id: event.id })" translate-once="dashboard.directive.edit"></a>
    </div>
  </span>
</td>
