<div class="modal-body">

    <div class="row">

      <div class="col-xs-12">
        <p translate-once="dashboard.delete.sure"
           translate-values="{ name: '{{item.name}}' }"></p>
      </div>

      <div class="alert alert-danger"
           ng-show="error"
           translate-once="dashboard.delete.error">
      </div>

    </div>
</div>
<div class="modal-footer">
  <button
          type="button"
          class="btn btn-default"
          ng-click="cancelRemoval()"
          translate-once="dashboard.delete.cancel">
  </button>
  <button type="button" class="btn btn-primary" ng-click="deleteEvent()">
    <span translate-once="dashboard.delete.delete"></span> <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i>
  </button>
</div>
