<div ng-if="placeIdIsInvalid">
  <div class="page-header">
    <h1>Pagina niet gevonden</h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>Deze pagina kon niet gevonden worden.</p>
    </div>
  </div>
</div>

<div ng-if="!finishedLoading">
  <p class="title"><span class="placeholder-title"></span></p>
  <p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span class="sr-only">Aan het laden...</span></p>
</div>

<div ng-if="place && finishedLoading" class="page-detail">
  <h1 class="title" ng-bind="place.name"></h1>

  <div class="row">
    <div class="col-sm-3 col-sm-push-9">
      <div class="list-group" ng-if="::permissions">
        <button ng-if="::permissions.editing"
                class="list-group-item"
                type="button"
                ng-click="openEditPage()"><i class="fa fa-pencil" aria-hidden="true"></i>  Bewerken</button>
        <button ng-if="::permissions.editing"
                class="list-group-item"
                href="#"
                ng-click="deletePlace()"><i class="fa fa-trash" aria-hidden="true"></i>  Verwijderen</button>
      </div>
    </div>

    <div class="col-xs-9 col-sm-pull-3">
      <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" ng-class="{active: isTabActive(tab.id)}" role="tab">
          <a ng-click="makeTabActive(tab.id)" role="tab" ng-bind="tab.header" href="#"></a>
        </li>
      </ul>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('data')">
        <table class="table udb3-data-table">
          <colgroup>
            <col style="width:20%"/>
            <col style="width:80%"/>
          </colgroup>
          <tbody>
            <tr>
              <td><span class="row-label">Titel</span></td>
              <td>{{::place.name}}</td>
            </tr>
            <tr>
              <td><span class="row-label">Type</span></td>
              <td>{{::place.type.label}}</td>
            </tr>
            <tr ng-class="::{ muted: (isEmpty(place.description) || place.description == null)}">
              <td><span class="row-label">Beschrijving</span></td>
              <td ng-if="::(!isEmpty(place.description) && place.description !== null)">
                <div ng-bind-html="::place.description" class="event-detail-description"></div>
              </td>
              <td ng-if="::(isEmpty(place.description) || place.description == null)">
                Geen beschrijving
              </td>
            </tr>
            <tr>
              <td><span class="row-label">Waar</span></td>
              <td>{{::place.address.streetAddress}}<br />
                {{::place.address.postalCode}} {{::place.address.addressLocality}}<br />
                {{::place.address.addressCountry}}</td>
            </tr>
          </tbody>
          <tbody udb-booking-info-detail="::place.bookingInfo"></tbody>
          <tbody udb-contact-point-detail="::place.contactPoint"></tbody>
          <tbody>
            <tr>
              <td>
                <span class="row-label">Labels</span>
              </td>
              <td>
                <p><udb-label-select labels="::place.labels"
                                  label-added="labelAdded(label)"
                                  label-removed="labelRemoved(label)">
                </udb-label-select></p>
                <p ng-if="labelResponse === 'error'" class="alert alert-danger">
                  Het toevoegen van het label '{{labelsError.name}}' is niet gelukt.
                </p>
                <p ng-if="labelResponse === 'success'" class="alert alert-success">
                  Het label '{{addedLabel}}' werd succesvol toegevoegd.
                </p>
                <p ng-if="labelResponse === 'unlabelError'" class="alert alert-danger">
                  <span ng-bind="labelsError"></span>
                </p>
              </td>
            </tr>
            <tr>
              <td><span class="row-label">Geschikt voor</span></td>
              <td>
                <span ng-if="::place.typicalAgeRange">{{::place.typicalAgeRange}}</span>
                <span ng-if="::(!place.typicalAgeRange)">Alle leeftijden</span>
              </td>
            </tr>
          </tbody>
          <tbody udb-image-detail="::place.mediaObject" image="::place.image"></tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" ng-show="isTabActive('history')">
        <div class="timeline">
          <dl ng-repeat="placeAction in ::placeHistory track by $index">
            <dt ng-bind="::placeAction.date | date:'dd / MM / yyyy H:mm'"></dt>
            <dd>
              <span class="author" ng-if="::placeAction.author">{{::placeAction.author}}</span><br ng-if="::placeAction.author"/>
              <span class="description">{{::placeAction.description}}</span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('publication')">
        <table class="table udb3-data-table">
          <colgroup>
            <col style="width:20%"/>
            <col style="width:80%"/>
          </colgroup>
          <tbody udb-workflow-status="::place">
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
