.cultuurkuur-component {
    margin-left: 12px;
    .panel {
        max-width: 95%;
    }
}

.cultuurkuur-logo {
    background-image: url(/images/cultuurkuur-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
