.export-format-field label {
  cursor: pointer;
}

.export-format-field {
  padding: 10px 0px;
  border-bottom: 1px solid @modal-footer-border-color;
}

.export-format-field:last-child {
  border-bottom: none;
}

.export-field-selection {
  max-height: 500px;
  overflow-y: auto;
}

.export-customization-brand {
  display: inline-block;
  margin-right: 1em;
}

.export-logo {
  min-width: 150px;
  background-color: white;
}
