/* General Styles */
// btn
.btn-tile {
  white-space: normal;
}

// nav
.nav-pills {
  a {
    cursor: pointer;
  }
}

// Forms
.checkbox label > [type="checkbox"],
.checkbox-inline label > [type="checkbox"],
label.checkbox > [type="checkbox"],
label.checkbox-inline > [type="checkbox"] {
  margin-top: 6px;
}

input + .alert {
  margin-top: .5em;
}

.save-time-tracker {
  color: @gray-light;
  padding-bottom: 1em;
}

// Footer
.footer {
  padding-top: 3em;
}

// Table
.table td p {
  margin: 0 0 6px 0;
}

//Pagination
.pagination .disabled {
    display: none
}

.font-bold {
  font-weight: bold;
}
