<div class="form-group">
    <div class="card-system">
        <label>Kaartsystemen</label>

        <div class="uitpas-card-system row" ng-repeat="cardSystem in cardSystemSelector.availableCardSystems">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               disabled="disabled"
                               ng-model="cardSystem.active"
                               ng-change="cardSystemSelector.activeCardSystemsChanged()">
                            <span ng-bind="::cardSystem.name"></span>
                    </label>
                </div>
            </div>


            <div class="col-sm-6" ng-if="cardSystem.distributionKeys.length">
                <select ng-model="cardSystem.assignedDistributionKey"
                        ng-options="key as key.name for key in cardSystem.distributionKeys track by key.id"
                        ng-change="cardSystemSelector.distributionKeyAssigned()">
                    <option value="">--Selecteer een verdeelsleutel--</option>
                </select>
            </div>
        </div>
    </div>
</div>