<tr class="organization-search-item" ng-class="{'deleted': osic.organizationDeleted}" ng-if="::osic.organization">
    <td style="padding-left: 30px"><strong><a ng-bind="::osic.organization.name" ui-sref="split.organizerDetail({id: osic.organization.id})"></a></strong></td>
    <td ng-if="::osic.organization.address.addressLocality">
        <span ng-bind="::osic.organization.address.streetAddress"></span>
        <br>
        <span ng-bind="::osic.organization.address.addressLocality"></span>
    </td>
    <td ng-if="::!osic.organization.address.addressLocality">
        <span translate-once="search.organization.noAddress"></span>
    </td>
    <td style="padding-right: 30px">
        <div ng-if="::osic.organization.created">
            <i class="fa fa-clock"></i> <span ng-bind="::osic.organization.created | amDateFormat:'DD/MM/YYYY HH:mm'"></span>
        </div>
        <div ng-if="::osic.isGodUser">
            <i class="fa fa-user"></i> <span ng-bind="::osic.organization.creator"></span>
        </div>
    </td>
    <td ng-if="::osic.isGodUser" class="text-right">
        <div class="btn-group" style="display:flex" uib-dropdown>
            <a class="btn btn-default" ui-sref="split.organizerEdit({id: osic.organization.id})">Bewerken</a>
            <button type="button" class="btn btn-default" uib-dropdown-toggle><span class="caret"></span></button>
            <ul uib-dropdown-menu role="menu">
                <li role="menuitem">
                    <a ui-sref="split.footer.search.organizers.delete({id: osic.organization.id})">Verwijderen</a>
                </li>
            </ul>
        </div>
    </td>
</tr>
