<div class="opening-hours-week-schedule">
  <div class="empty" ng-hide="!!cm.openingHoursCollection.openingHours.length">
    <div class="well text-center add-opening-hours">
        <p>
          <span class="permanent-title" translate="calendar.openingHours.permanent_title"></span>
          <span class="permanent-subtitle" translate="calendar.openingHours.permanent_subtitle"></span>
        </p>
        <button type="button" class="btn btn-primary" ng-click="cm.edit()" translate="calendar.openingHours.add_hours"></button>
    </div>
  </div>
  <div class="time-table">
    <table class="table table-condensed" ng-if="!!cm.openingHoursCollection.openingHours.length">
      <thead>
      <th translate="calendar.openingHours.opening_hours"></th>
      <th>
        <a href="#" ng-click="cm.edit()" class="btn btn-default" translate="calendar.openingHours.change"></a>
      </th>
      </thead>
      <tbody>
        <tr ng-repeat="openingHour in cm.openingHoursCollection.openingHours">
          <td ng-bind="openingHour.label"></td>
          <td>
            <span ng-bind="openingHour.opens"></span> – <span ng-bind="openingHour.closes"></span>
          </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
