<div class="page-header">
    <h1>Roles</h1>
</div>
<h2>Role bewerken</h2>

<div ng-show="!editor.role && !editor.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<form name="editor.form" class="css-form" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" udb-form-group>
                <label class="control-label" for="label-name-field">Naam</label>
                <input id="label-name-field"
                       class="form-control"
                       name="name"
                       type="text"
                       ng-minlength="3"
                       ng-required="true"
                       ng-maxlength="255"
                       ng-model="editor.role.name"
                       ng-model-options="{debounce: 300}"
                       ng-disabled="editor.creating">
                <p class="help-block" ng-if="editor.form.name.$error.required">Een role naam is verplicht.</p>
                <p class="help-block" ng-if="editor.form.name.$error.minlength">Een role moet uit minstens 3 tekens bestaan.</p>
                <p class="help-block" ng-if="editor.form.name.$error.maxlength">Een role mag maximum 255 tekens bevatten.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" udb-form-group>
                <label class="control-label" for="label-name-field">Bewerkrecht</label>
                <input id="label-name-field"
                       class="form-control"
                       name="editPermission"
                       type="text"
                       ng-maxlength="255"
                       ng-model="editor.role.editPermission"
                       ng-model-options="{debounce: 300}"
                       ng-disabled="editor.creating">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <uib-tabset>
          <uib-tab heading="Permissies">
            <div class="row">
              <div class="col-md-11">
                <!--
                <udb-query-search-bar search-label="Zoeken op naam" ng-model="permissionSearch"
                  on-change="llc.queryChanged(query)"
                ></udb-query-search-bar>
                -->
                <input placeholder="Zoeken op naam" ng-model="permissionSearch">
              </div>
              <div class="col-md-1">
                <i ng-show="!editor.loadedPermissions" class="fa fa-circle-o-notch fa-spin"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
            <div class="checkbox" ng-repeat="role in editor.permissions | filter: permissionSearch">
                <label>
                    <input type="checkbox"
                      ng-model="editor.role.permissions[role.key]"> <strong ng-bind="::role.name"></strong>
                </label>
            </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab heading="Leden">
            Leden
          </uib-tab>
          <uib-tab heading="Labels">
            Labels
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button ng-disabled="!editor.form.$valid || editor.creating"
          type="button"
          class="btn btn-primary"
          ng-click="editor.create()">
          Aanmaken <i class="fa fa-circle-o-notch fa-spin" ng-show="editor.creating"></i>
        </button>
      </div>
    </div>
</form>
