<div class="page-header">
    <h1>Roles</h1>
</div>
<h2>Role bewerken</h2>

<div ng-show="!editor.loadedRole && !editor.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<form name="editor.form" class="css-form" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" udb-form-group>
                <label class="control-label" for="label-name-field">Naam</label>
                <input id="label-name-field"
                       class="form-control"
                       name="name"
                       type="text"
                       ng-minlength="3"
                       ng-required="true"
                       ng-maxlength="255"
                       ng-model="editor.role.name"
                       ng-disabled="editor.saving">
                <p class="help-block" ng-if="editor.form.name.$error.required">Een role naam is verplicht.</p>
                <p class="help-block" ng-if="editor.form.name.$error.maxlength">Een role mag maximum 255 tekens bevatten.</p>
                <p class="help-block" ng-if="editor.form.name.$error.minlength">Een role moet uit minstens 3 tekens bestaan.</p>

                <button ng-disabled="!editor.form.$valid || editor.saving"
                  ng-if="!editor.role['@id']"
                  type="button"
                  class="btn btn-primary"
                  ng-click="editor.createRole()">
                  Opslaan <i class="fa fa-circle-o-notch fa-spin" ng-show="editor.saving"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="editor.role['@id']">
        <div class="col-md-12">
            <div class="form-group" udb-form-group>
                <label class="control-label" for="label-name-field">Bewerkrecht</label>
                <input id="label-name-field"
                       class="form-control"
                       name="constraint"
                       type="text"
                       ng-maxlength="255"
                       ng-model="editor.role.constraint"
                       ng-disabled="editor.saving">
            </div>
        </div>
    </div>
    <div class="row" ng-show="editor.role['@id']">
      <div class="col-md-12">
        <uib-tabset>
          <uib-tab heading="Permissies">
            <div class="row">
              <div class="col-md-11">
                <!--
                <udb-query-search-bar search-label="Zoeken op naam" ng-model="permissionSearch"
                  on-change="llc.queryChanged(query)"
                ></udb-query-search-bar>
                -->
                <input placeholder="Zoeken op naam" ng-model="permissionSearch">
              </div>
              <div class="col-md-1">
                <i ng-show="!editor.loadedRolePermissions" class="fa fa-circle-o-notch fa-spin"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="checkbox" ng-repeat="role in editor.permissions | filter: permissionSearch">
                    <label>
                        <input type="checkbox"
                          ng-model="editor.role.permissions[role.key]"> <strong ng-bind="::role.name"></strong>
                    </label>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab heading="Leden">
              <div class="row">
                  <div class="col-md-11">
                          <label>Voeg lid toe</label>
                          <input placeholder="E-mailadres"
                                 id="email"
                                 type="email"
                                 name="email"
                                 data-ng-model="editor.email" />
                          <button type="submit"
                                  class="btn btn-primary"
                                  ng-click="editor.addUser()"
                                  ng-disabled="!editor.form.$valid || editor.addingUser">
                              Toevoegen <i class="fa fa-circle-o-notch fa-spin" ng-show="editor.addingUser"></i>
                          </button>
                  </div>
                  <div class="col-md-1">
                      <i ng-show="!editor.loadedRoleUsers" class="fa fa-circle-o-notch fa-spin"></i>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12" ng-show="editor.role.users.length && editor.loadedRoleUsers">
                      <table class="table">
                          <thead>
                            <tr>
                                <th>E-mailadres</th>
                                <!--<th>Verwijderen</th>-->
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="user in editor.role.users">
                                <td ng-bind="::user.email"></td>
                                <!--<td><a href="#">Lidmaatschap verwijderen</a></td>-->
                            </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="col-md-12" ng-hide="editor.role.users.length">
                      Er hangen nog geen gebruikers aan deze rol. Voeg een gebruiker aan deze rol toe door zijn/haar e-mailadres hierboven in te geven.
                  </div>
              </div>
          </uib-tab>
          <uib-tab heading="Labels">
            <udb-search-label role="editor.role"
                              label-added="editor.addLabel(label)">
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <div class="row" ng-if="editor.role['@id']">
      <div class="col-md-12">
        <button ng-disabled="!editor.form.$valid || editor.saving"
          type="button"
          class="btn btn-primary"
          ng-click="editor.save()">
          Opslaan <i class="fa fa-circle-o-notch fa-spin" ng-show="editor.saving"></i>
        </button>
      </div>
    </div>
</form>
