<h1 class="title">Rollen <small><a ui-sref="split.manageRoles.create" ui-sref-opts="{reload:true}">toevoegen</a></small></h1>

<div class="row">
    <div class="col-md-9">
        <udb-query-search-bar search-label="Zoeken op rolnaam"
                              on-change="rlc.queryChanged(query)"
        ></udb-query-search-bar>
    </div>
    <div class="col-md-1">
        <i ng-show="rlc.loading" class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="col-md-2 text-right">
        <a class="btn btn-primary" ui-sref="split.manageRoles.create" ui-sref-opts="{reload:true}">
            <i class="fa fa-plus-circle"></i> Rol toevoegen
        </a>
    </div>
</div>

<div class="row search-result-block" ng-cloak>
    <div class="col-md-12">
        <div class="alert alert-info" role="alert" ng-show="rlc.query.length < rlc.minQueryLength">
            <p>Schrijf een zoekopdracht van minstens 3 karakters in het veld hierboven om rollen te zoeken.</p>
            <p>Laat het veld leeg om alle rollen op te vragen in alfabetische volgorde.</p>
        </div>
        <div ng-show="rlc.query.length >= rlc.minQueryLength && rlc.searchResult.totalItems === 0"
             class="alert alert-warning" role="alert">
            <p>Geen rollen gevonden.</p>
        </div>
        <div ng-show="rlc.problem" class="alert alert-warning" role="alert">
            <span>Er ging iets mis tijdens het zoeken:</span>
            <br>
            <strong ng-bind="rlc.problem.title"></strong>
        </div>
        <div class="query-search-result roles-results"
             ng-class="{'loading-search-result': rlc.loading}"
             ng-show="rlc.searchResult.totalItems > 0">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Opties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in rlc.searchResult.member">
                        <td ng-bind="::role.name"></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bewerken <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a ui-sref="split.manageRoles.edit({id: role.uuid})" ui-sref-opts="{reload:true}">Bewerken</a></li>
                                    <li><a href ng-click="rlc.openDeleteConfirmModal(role)">Verwijderen</a></li>
                                </ul>
                            </div>
                            </td>
                    </tr>
                    </tbody>
                </table>
            <div class="panel-footer">
                <uib-pagination
                        total-items="rlc.searchResult.totalItems"
                        ng-model="rlc.page"
                        items-per-page="rlc.searchResult.itemsPerPage"
                        max-size="10"
                        ng-change="rlc.pageChanged(rlc.page)">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>
