<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" ng-bind="::modalTitle"></h4>
  </div>
  <div class="modal-body">

    <p ng-show="showAgreements">
      <span translate-once="images.agreement"></span>
       <a ng-href="{{::userAgreementUrl}}" target="_blank" translate-once="images.conditions"></a>.
       <a ng-href="{{::copyrightUrl}}" target="_blank" translate-once="images.copyright_info"></a>
    </p>
    <div ng-hide="showAgreements">
      <div class="form-group">
        <label for="inputFile" translate-once="images.upload.select_image"></label>
        <p>
          <button type="file"
                  class="btn btn-primary"
                  id="inputFile"
                  ngf-select="selectFile($file, $invalidFiles)"
                  accept="image/*"
                  ngf-max-size="{{maxFileSize}}">
            <span translate-once="images.upload.choose_file"></span></button>
        </p>

        <p ng-show="selectedFile">
          <span ng-bind="selectedFile.name"></span>
        </p>

        <p class="help-block" translate-once="images.upload.max_filesize" translate-values="{ maxFileSize: '{{maxFileSize}}' }"></p>
      </div>

      <div class="form-group">
        <label><span translate-once="images.description"></span> <strong class="text-danger">*</strong></label>
        <input type="text" class="form-control" ng-model="description" required>
      </div>

      <div class="form-group">
        <label><span translate-once="images.copyright"></span> <strong class="text-danger">*</strong></label>
        <input type="text" class="form-control" ng-model="copyright" required>
        <p class="help-block" translate-once="images.copyright_help"></p>
      </div>

      <p class="image-copyright-agreements">
        <span translate-once="images.agreement"></span>
        <a ng-href="{{::userAgreementUrl}}" target="_blank" translate-once="images.conditions"></a>.
        <a ng-href="{{::copyrightUrl}}" target="_blank" translate-once="images.copyright_info"></a>
      </p>
    </div>

    <div ng-show="error" class="alert alert-danger">
      <span ng-bind="error"></span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" translate-once="images.cancel"></button>
    <button type="button" class="btn btn-primary" ng-hide="showAgreements" ng-disabled="!allFieldsValid() || saving" ng-click="addImage()">
      <span translate-once="images.upload.upload"></span> <i ng-show="saving" class="fa fa-circle-o-notch fa-spin"></i>
    </button>
    <button class="btn btn-primary" ng-show="showAgreements" ng-click="acceptAgreements()" translate-once="images.agree"></button>
  </div>
</div>
