<tr>
    <td><span class="row-label" translate-once="workflowStatus.label"></span></td>
    <td ng-if="cm.event.workflowStatus !== 'REJECTED'">
        <span ng-if="cm.event.available" ng-bind="cm.event.available | date: 'dd/MM/yyyy'">
                    </span>
        <span ng-if="!cm.event.available && !cm.event.availableFrom">{{::cm.status | translate }}</span>
        <span ng-if="!cm.event.available && cm.event.availableFrom">Online vanaf {{cm.event.availableFrom | date: 'dd/MM/yyyy'}}</span>
    </td>
    <td ng-if="cm.event.workflowStatus === 'REJECTED'">
      <p><span translate-once="workflowStatus.rejected_full"></span>&nbsp;<a ng-href="{{::cm.publicationRulesLink}}" target="_blank"><span translate-once="workflowStatus.rules"></span></a></p>
    </td>
</tr>
<tr ng-if="cm.event.workflowStatus !== 'REJECTED'">
    <td><span class="row-label" translate-once="workflowStatus.id"></span></td>
    <td>
        <ul>
            <li>
                <span ng-bind="cm.event.id"></span>
            </li>
            <li ng-if="cm.getPublicUrl(cm.event.id)">
                <a ng-href="{{cm.getPublicUrl(cm.event.id)}}" translate-once="preview.publiq_url" translate-values="{ publicationBrand: '{{::cm.publicationBrand}}' }"></a>
            </li>
            <li ng-repeat="sameAs in cm.sameAsRelations(cm.event)"><span ng-bind="sameAs"></span></li>
        </ul>
    </td>
</tr>
