<tr>
    <td><span class="def">Publicatiestatus</span></td>
    <td>
        <span ng-if="cm.event.available" ng-bind="cm.event.available | date: 'dd/MM/yyyy'">
                    </span>
        <span ng-if="!cm.event.available && !cm.event.availableFrom">{{cm.status | translate }}</span>
        <span ng-if="!cm.event.available && cm.event.availableFrom">Online vanaf {{cm.event.availableFrom | date: 'dd/MM/yyyy'}}</span>
    </td>
</tr>
<tr>
    <td><span class="def">ID</span></td>
    <td>
        <ul>
            <li ng-repeat="id in cm.eventIds(cm.event)" ng-switch="cm.isUrl(id)">
                <a ng-switch-when="true" ng-href="{{id}}" ng-bind="id"></a>
                <span ng-switch-when="false" ng-bind="id"></span>
            </li>
        </ul>
    </td>
</tr>
