<div class="container-fluid">
    <h1 translate-once="search.savedSearches.mySearches"></h1>
    <table class="table">
        <tr>
            <th class="saved-search-title-column">
                <strong translate-once="search.savedSearches.title"></strong>
            </th>
            <th>
                Query
            </th>
            <td>
            </td>
        </tr>
        <tr ng-repeat="savedSearch in savedSearches">
            <td>
                <p>
                  <i class="fa fa-bookmark"></i>
                  <span ng-bind="::savedSearch.name"></span></p>
                <p><a 
                    ng-href="search?query={{::encodeURI(savedSearch.query)}}" 
                    class="small"
                    translate-once="search.savedSearches.viewResults"
                    ></a></p>
            </td>
            <td class="saved-search-query">
                <textarea ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="::savedSearch.query" class="query form-control" rows="3"
                          ui-codemirror-opts="editorOptions"></textarea>
            </td>
            <td>
                <a class="btn btn-default" ng-if="::savedSearch.id" ng-click="::deleteSavedSearch(savedSearch.id)"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </table>
</div>
