<div class="modal-header">
  <h4 class="modal-title">Kies een publicatiedatum</h4>
</div>
<div id="event-form-publish-modal" class="modal-body">
  <p>Vanaf wanneer mag dit online verschijnen?</p>
    <div class="radio">
      <label>
        <input type="radio" ng-model="efpmc.hasPublicationDate" ng-checked="efpmc.isToday" ng-change="efpmc.disableDate()" value="false" name="publishDate" value="now">
        Meteen
      </label>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="publishDate" ng-model="efpmc.hasPublicationDate" ng-checked="!efpmc.isToday" value="true" aria-label="Later, vanaf">
            Later, vanaf
          </label>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input  type="text"
                    class="form-control"
                    ng-focus="efpmc.onFocus()"
                    uib-datepicker-popup="{{efpmc.drp.dateFormat}}"
                    ng-model="efpmc.publicationDate"
                    is-open="efpmc.drp.startOpened"
                    ng-required="true"
                    datepicker-options="efpmc.drp.options"/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="efpmc.drp.startOpened = !efpmc.drp.startOpened">
            <i class="fa fa-calendar"></i>
            </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="alert alert-warning" ng-if="efpmc.error">Een publicatiedatum kan niet in het verleden liggen.</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="efpmc.dismiss();" data-dismiss="modal">
    Annuleren
  </button>
  <button type="button" class="btn btn-primary" ng-click="efpmc.savePublicationDate()">
    Bevestigen
  </button>
</div>
