<div class="modal-header">
  <h4 class="modal-title">Kies een publicatiedatum</h4>
</div>
<div id="event-form-publish-modal" class="modal-body">
  <p>Vanaf wanneer mag dit online verschijnen? </strong><em class="text-info"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Opgelet, deze publicatiedatum kan je maar één keer instellen en nadien niet meer wijzigen.</em></strong></p>
    <div ng-if="!efpmc.eventFormData.availableFrom" class="form-inline">
      <div class="form-group">
        <div class="radio">
          <label>
            Op
          </label>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input  type="text"
                    class="form-control"
                    uib-datepicker-popup="{{efpmc.drp.dateFormat}}"
                    ng-model="efpmc.publicationDate"
                    is-open="efpmc.drp.startOpened"
                    ng-required="true"
                    ng-focus="efpmc.onFocus()"
                    datepicker-options="efpmc.drp.options"/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="efpmc.drp.startOpened = !efpmc.drp.startOpened">
            <i class="fa fa-calendar"></i>
            </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="alert alert-warning" ng-if="efpmc.error">Een publicatiedatum kan niet in het verleden liggen.</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="efpmc.dismiss();" data-dismiss="modal">
    Annuleren
  </button>
  <button type="button" class="btn btn-primary" ng-click="efpmc.savePublicationDate()">
    Klaar met bewerken
  </button>
</div>
