<div class="modal-header">
  <h4 class="modal-title">Kies een publicatiedatum</h4>
</div>
<div id="event-form-publish-modal" class="modal-body">
  <p>Vanaf wanneer mag dit online verschijnen? <em class="text-info"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Opgelet, deze datum kan je maar één keer instellen.</em></p>
    <div ng-if="!efpmc.eventFormData.availableFrom" class="form-inline">
      <div class="input-group">
      <input
             class="form-control"
             type="text"
             uib-datepicker-popup="dd/MM/yyyy"
             datepicker-options="efpmc.drp.options"
             ng-model="efpmc.publicationDate"
             show-button-bar="false"
             on-open-focus="true"
             is-open="efpmc.opened"
             ng-required="true"
             ng-click="efpmc.toggleDatePicker()" />
      <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="efpmc.toggleDatePicker()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
      </span>
      </div>
    </div>
    <br>
    <div class="alert alert-warning" ng-if="efpmc.error==='past'">Een publicatiedatum kan niet in het verleden liggen.</div>
    <div class="alert alert-warning" ng-if="efpmc.error==='empty'">Kies een publicatiedatum.</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="efpmc.dismiss();" data-dismiss="modal">
    Annuleren
  </button>
  <button type="button" class="btn btn-primary" ng-click="efpmc.savePublicationDate()">
    Klaar met bewerken
  </button>
</div>
