<div class="page-header">
    <h1>Valideren</h1>
</div>

<div ng-show="moderator.loading && !moderator.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <label>Valideer als</label>
                <select class="form-control"
                        name="role"
                        ng-change="moderator.findModerationContent(moderator.selectedRole)"
                        ng-model="moderator.selectedRole">
                        <option ng-repeat="role in moderator.roles" ng-value="role.uuid">{{role.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row search-result-block" ng-cloak>
    <div class="col-md-12" ng-repeat="offer in moderator.searchResult.member">
        <udb-moderation-offer ng-hide="moc.loading" offer-id="{{offer['@id']}}" offer-type="{{offer['@type']}}">
        </udb-moderation-offer>
    </div>
</div>
