<section id="wanneer">
    <h2 class="title-border">
        <span>Wanneer vindt dit evenement of deze activiteit plaats?</span>
    </h2>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">

                <label class="wanneerkiezer-label" ng-show="edc.duplicateFormData.activeCalendarType === ''">
                    Maak een keuze
                </label>
                <div class="wanneerkiezer" ng-show="edc.duplicateFormData.activeCalendarType === ''">
                    <ul class="list-inline button-list">
                        <li ng-repeat="calendarLabel in ::edc.calendarLabels">
                            <button class="btn btn-default"
                                    ng-bind="::calendarLabel.label"
                                    udb-auto-scroll
                                    ng-click="edc.duplicateFormData.setCalendarType(calendarLabel.id);"></button>
                        </li>
                    </ul>
                </div>
                <div class="wanneer-chosen" ng-hide="edc.duplicateFormData.activeCalendarType === ''">
                    <span class="btn-chosen" ng-bind="edc.duplicateFormData.activeCalendarLabel"></span>
                    <a class="btn btn-link wanneerrestore" href="#" ng-click="edc.duplicateFormData.resetCalendar()">Wijzigen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="edc.duplicateFormData.activeCalendarType === 'single'">
        <udb-event-form-timestamp form-data="edc.duplicateFormData"></udb-event-form-timestamp>
    </div>

    <div class="row" ng-show="edc.duplicateFormData.activeCalendarType === 'periodic'">
        <udb-event-form-period form-data="edc.duplicateFormData"></udb-event-form-period>
    </div>

    <div class="row" ng-show="edc.duplicateFormData.activeCalendarType === 'permanent' || edc.duplicateFormData.activeCalendarType === 'periodic'">
        <udb-event-form-opening-hours form-data="edc.duplicateFormData"></udb-event-form-opening-hours>
    </div>

</section>
