<div class="page-header">
    <h1>Labels</h1>
</div>
<h2>Label bewerken</h2>

<div ng-show="!editor.label && !editor.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<form name="editor.form" class="css-form" novalidate>
    <div ng-show="editor.label">
        <div class="row">
            <div class="col-md-6">
                <label for="label-name-field">Naam</label>
                <input id="label-name-field" type="text" ng-model="editor.label.name" ng-disabled="editor.renaming">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    <input type="checkbox"
                           ng-model="editor.label.isVisible"> Tonen op publicatiekanalen
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    <input type="checkbox"
                           ng-model="editor.label.isPrivate"> Voorbehouden aan specifieke gebruikersgroepen
                </label>
            </div>
        </div>
    </div>
<button ng-disabled="!editor.form.$valid || editor.saving"
        type="button"
        class="btn btn-primary"
        ng-click="editor.save()">
    Opslaan <i class="fa fa-circle-o-notch fa-spin" ng-show="editor.saving"></i>
</button>

<div ng-show="editor.loadingError">
    <span ng-bind="editor.loadingError"></span>
</div>
