<h1 class="title">Labels <small><a ui-sref="split.manageLabels.create">toevoegen</a></small></h1>

<div class="row">
    <div class="col-md-11">
        <udb-query-search-bar search-label="Zoeken op labelnaam"
                              on-change="llc.queryChanged(query)"
        ></udb-query-search-bar>
    </div>
    <div class="col-md-1 text-right">
        <i ng-show="llc.loading" class="fa fa-circle-o-notch fa-spin"></i>
    </div>
</div>

<div class="row search-result-block" ng-cloak>
    <div class="col-md-12">
        <div class="alert alert-info" role="alert" ng-show="llc.query.length < llc.minQueryLength">
            <p>Schrijf een zoekopdracht van minstens 3 karakters in het veld hierboven om labels te zoeken.</p>
            <p>Laat het veld leeg om alle labels op te vragen in alfabetische volgorde.</p>
        </div>
        <div ng-show="llc.query.length >= llc.minQueryLength && llc.searchResult.totalItems === 0"
             class="alert alert-warning" role="alert">
            Geen labels gevonden.
        </div>
        <div ng-show="llc.problem" class="alert alert-warning" role="alert">
            <span>Er ging iets mis tijdens het zoeken:</span>
            <br>
            <strong ng-bind="llc.problem.title"></strong>
        </div>
        <div class="query-search-result"
             ng-class="{'loading-search-result': llc.loading}"
             ng-show="llc.searchResult.totalItems > 0">
            <div class="table-responsive" >
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Verborgen</th>
                        <th>Voorbehouden</th>
                        <th>Opties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="label in llc.searchResult.member">
                        <td ng-bind="::label.name"></td>
                        <td ng-bind="::(label.visibility === 'invisible' ? 'Verborgen' : '')"></td>
                        <td ng-bind="::(label.privacy === 'private' ? 'Voorbehouden' : '')"></td>
                        <td>
                            <a ui-sref="split.manageLabels.edit({id: label.uuid})">Bewerken</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <uib-pagination
                        total-items="llc.searchResult.totalItems"
                        ng-model="llc.page"
                        items-per-page="llc.searchResult.itemsPerPage"
                        max-size="10"
                        ng-change="llc.pageChanged(llc.page)">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>
