<span ng-if="offer.calendarType" ng-switch="offer.calendarType">

  <span ng-switch-when="single">
    <span ng-bind="::offer.startDate | date: 'dd/MM/yyyy'"></span>

    <span ng-if="showOpeningHours">
      <span ng-if="getOpeningHoursCount(offer) == 1">
        <span translate-once="calendarSummary.from | uppercase"></span> <span ng-bind="::offer.openingHours[0].startDate | date: 'HH:mm'"></span>
        <span translate-once="calendarSummary.till"></span> <span ng-bind="::offer.openingHours[0].endDate | date: 'HH:mm'"></span>
      </span>
      <span ng-if="getOpeningHoursCount(offer) > 1" translate-once="calendarSummary.openinghours"></span>
    </span>
  </span>

  <span ng-switch-when="multiple">
      <span translate-once="calendarSummary.from"></span> <span ng-bind="::offer.startDate | date: 'dd/MM/yyyy'"></span>
      <span translate-once="calendarSummary.till"></span> <span ng-bind="::offer.endDate | date: 'dd/MM/yyyy'"></span>
  </span>

  <span ng-switch-when="periodic">
     <span translate-once="calendarSummary.from"></span> <span ng-bind="::offer.startDate | date: 'dd/MM/yyyy'"></span>
     <span translate-once="calendarSummary.till"></span> <span ng-bind="::offer.endDate | date: 'dd/MM/yyyy'"></span>
  </span>

  <span ng-switch-when="permanent" translate-once="calendarSummary.permanent"></span>

</span>