<p class="small text-muted" translate-once="labels.what"></p>

<form name="form">
  <div class="form-group">
    <input type="text"
    class="form-control typeahead"
    ng-model="select.currentLabel"
    ng-pattern="select.regex"
    uib-typeahead="suggestion.name for suggestion in select.suggestLabels($viewValue)"
    typeahead-on-select="select.onSelect($item)"
    typeahead-min-length="2"
    id="input" name="input"
    autocomplete="off"
    ng-minlength="2"
    ng-maxlength="50"/>
  </div>
</form>

<div class="alert alert-warning" ng-show="!form.input.$valid && !form.input.$error.minlength ">
  <p><span translate-once="labels.invalid"></span><br>
    <ul>
      <li translate-once="labels.chars"></li>
      <li translate-once="labels.excluded"></li>
      <li translate-once="labels.length"></li>
    </ul>
</div>

<ul class="list-inline">
  <li ng-repeat="label in select.labels">
    <span class="badge">{{ select.stripCultuurkuurPrefix(label.name) }} <a ng-click="select.onRemove(label)" class="badge-remove">&times;</a></span>
  </li>
</ul>
