<form name="form">
  <div class="form-group">
    <input type="text"
    class="form-control typeahead"
    ng-model="currentLabel"
    ng-pattern="regex"
    uib-typeahead="suggestion.name for suggestion in findSuggestions($viewValue)"
    typeahead-on-select="onSelect($item, $model, $label)"
    typeahead-min-length="2"
    id="input" name="input"
    autocomplete="off"
    ng-minlength="2"
    ng-maxlength="50"/>
  </div>
</form>

<div class="alert alert-warning" ng-show="!form.input.$valid && !form.input.$error.minlength ">
  <p>Dit label is ongeldig. Een label<br>
    <ul>
      <li>bestaat enkel uit letters of cijfers
      <li>bevat enkel '-' en '_', maar mag niet met deze tekens beginnen</li>
      <li>telt 2 tot 50 karakters</li>
    </ul>
</div>

<ul class="list-inline">
  <li ng-repeat="(key, value) in cachedLabels">
     <span class="badge">{{value}} <a ng-click="onRemove({name: value})" class="badge-remove">&times;</a></span>
  </li>
</ul>
