<div class="row extra-leeftijd">
  <div
    class="extra-task col-md-8 col-lg-7"
    ng-class="{'state-complete': !!fagec.activeAgeRange}"
  >
    <label
      ng-show="eventFormData.isEvent"
      translate-once="eventForm.step4.age.age_label"
    ></label>
    <div>
      <span ng-repeat="(type, ageRange) in ::fagec.ageRanges">
        <button
          class="form-age-range-button"
          ng-class="(fagec.activeAgeRange === type) ? 'btn active' : 'btn btn-default'"
          ng-mousedown="fagec.setAgeRangeByType(type);"
        >
          {{ translateAgeRange(ageRange.label) }}
          <span>{{ getAgeRangeLabel(ageRange) }}</span>
        </button>
      </span>
      <div ng-show="fagec.rangeInputEnabled" class="form-inline" id="form-age">
        <form name="ageForm">
          <div class="form-group">
            <label
              for="min-age"
              translate-once="eventForm.step4.age.from"
            ></label>
            <div>
              <input
                type="text"
                class="form-control"
                id="min-age"
                name="min"
                ng-model="fagec.minAge"
                ng-blur="fagec.instantSaveAgeRange()"
                ng-change="fagec.delayedSaveAgeRange()"
                udb-age-input
              />
              <span
                class="form-text"
                translate-once="eventForm.step4.age.age"
              ></span>
            </div>
          </div>
          <div class="form-group">
            <label
              for="max-age"
              translate-once="eventForm.step4.age.till"
            ></label>
            <div>
              <input
                type="text"
                class="form-control"
                id="max-age"
                name="max"
                ng-model="fagec.maxAge"
                ng-blur="fagec.instantSaveAgeRange()"
                ng-change="fagec.delayedSaveAgeRange()"
                udb-age-input
              />
              <span
                class="form-text"
                translate-once="eventForm.step4.age.age"
              ></span>
            </div> 
          </div>
        </form>
      </div>
      <div class="alert alert-danger" role="alert" ng-show="fagec.error">
        <span ng-bind="fagec.error"></span>
      </div>
    </div>
  </div>
</div>
