
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" ng-hide="organizersFound" translate-once="organizer.modal.title"></h4>
  <h4 class="modal-title" ng-show="organizersFound" translate-once="organizer.modal.avoid_doubles"></h4>
</div>
<div class="modal-body">

  <section ng-hide="organizersFound">
    <form name="organizerForm" class="organizer-form">
      <p class="alert alert-info" translate-once="organizer.modal.unique_notice"></p>
      <div class="form-group has-feedback"
           ng-class="{'has-warning' : organizersWebsiteFound || (organizerForm.website.$error.required && organizerForm.website.$dirty) || (organizerForm.website.$error.pattern && organizerForm.website.$dirty) }">
        <label class="control-label" for="organizer-website" translate-once="organizer.modal.website"></label>
        <input type="url"
               id="organizer-website"
               name="website"
               class="form-control"
               ng-model-options="{ debounce: 300 }"
               ng-model="newOrganizer.website"
               aria-describedby="organizer-website-status"
               ng-change="validateWebsite()"
               autocomplete="off"
               udb-http-prefix
               ng-pattern="contactUrlRegex"
               required>
        <span class="fa fa-circle-o-notch fa-spin form-control-feedback" ng-show="showWebsiteValidation" aria-hidden="true"></span>
        <span id="organizer-website-status" class="sr-only">(warning)</span>

          <p class="alert alert-warning" ng-show="organizersWebsiteFound">
            <span translate="organizer.modal.alert_warning"
                  translate-values="{ organizerName: '{{firstOrganizerFound.name}}' }"></span>
            <a ng-click="selectOrganizer(firstOrganizerFound)" class="alert-link" href="#">
              <span translate="organizer.modal.alert_button"
                    translate-values="{ organizerName: '{{firstOrganizerFound.name}}' }"></span>
            </a>.
          </p>
          <div class="help-block" ng-messages="organizerForm.website.$error" ng-show="organizerForm.website.$dirty && organizerForm.website.$error">
            <p ng-message="required">
              <span translate-once="organizer.contact.required"></span>
            </p>
            <p ng-message="pattern">
              <span translate-once="organizer.contact.valid_url"></span>
            </p>
          </div>
      </div>

      <div class="form-group" ng-class="{'has-error' : (showValidation && organizerForm.name.$error.required) || organizerForm.name.$error.maxlength}">
        <label translate-once="organizer.modal.label_name"></label>
        <input type="text"
               name="name"
               class="form-control"
               ng-model="newOrganizer.name"
               ng-change="updateName()"
               ng-maxlength="250"
               required>
        <span class="help-block" ng-show="organizerForm.name.$error.maxlength" translate-once="organizer.modal.name_maxlength"></span>
        <p class="help-block" translate-once="organizer.modal.name_help"></p>
        <span class="help-block"
              ng-show="showValidation && organizerForm.name.$error.required"
              translate-once="organizer.modal.name_required">
        </span>
      </div>
    </form>

    <udb-organizer-address address="newOrganizer.address"
                           on-update="validateAddress(error)"></udb-organizer-address>
    <udb-organizer-contact contact="newOrganizer.contact"
                           on-update="validateContact(error)"></udb-organizer-contact>
  </section>

  <section ng-show="organizersFound">

    <div class="alert alert-info">
      <p translate="organizer.modal.add_confirm" translate-values="{ newOrganizerName: '{{newOrganizer.name}}' }"></p>
    </div>
    <p translate-once="organizer.modal.doubles"></p>
    <table class="table">
      <tr ng-repeat="organizer in organizers" udb-organizer="organizer">
        <td colspan="2" ng-show="fetching">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </td>
        <td ng-hide="fetching">
          <strong ng-bind="::organizer.name"></strong>
          , <span ng-bind="::organizer.addresses[0].streetAddress"></span>
          , <span ng-bind="::organizer.addresses[0].postalCode"></span>
           <span ng-bind="::organizer.addresses[0].addressLocality"></span>
        </td>
        <td ng-hide="fetching"><a class="btn btn-default" ng-click="selectOrganizer(organizer)" translate-once="organizer.modal.select"></a></td>
      </tr>
      <tr>
        <td>
          <span translate-once="organizer.modal.your_input"></span>
          <br/>
          <strong ng-bind="newOrganizer.name"></strong>
          , <span ng-bind="newOrganizer.street"></span>
           <span ng-bind="newOrganizer.number"></span>
           <span ng-bind="newOrganizer.postalCode"></span>
           <span ng-bind="newOrganizer.city"></span>
        </td>
        <td><a class="btn btn-default" ng-click="saveOrganizer()" translate-once="organizer.modal.still_enter"></a></td>
      </tr>
    </table>

  </section>

  <div class="alert alert-danger" ng-show="saveError">
    <span translate-once="organizer.modal.save_error"></span>
  </div>
  <div class="alert alert-danger" ng-show="error && (addressError || contactError)">
    <p ng-show="addressError"><span translate-once="organizer.modal.address_error"></span><br /></p>
    <p ng-show="contactError"><span translate-once="organizer.modal.contact_error"></span><br /></p>
  </div>

</div>
<div class="modal-footer" ng-hide="organizersFound">
  <button type="button" class="btn btn-default" ng-click="cancel()" translate-once="organizer.modal.close"></button>
  <button type="button"
          class="btn btn-primary organisator-toevoegen-bewaren"
          ng-disabled="disableSubmit || contactError || organizerForm.website.$invalid"
          ng-click="validateNewOrganizer()">
    <span translate-once="organizer.modal.save"></span> <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i>
  </button>
</div>
