<div class="udb-job-log" ng-class="{'shown': logger.isVisible()}">
 <div class="udb-job-log-header">
     <div class="row">
         <div class="col-sm-12">
            <button type="button" class="close" ng-click="logger.hideJobLog()"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="col-sm-12">
           <div class="udb-job-log-header-message">
             <!-- udb-job-log-header-message -->
           </div>
         </div>
     </div>
 </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="udb-job-block udb-job-block-ready">
        <p class="udb-job-title" translate-once="entry.exported_documents"></p>
        <ul class="list-unstyled udb-job-messages">
          <li class="udb-alert repeat-animation" ng-repeat="job in logger.getFinishedExportJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>

      <div class="udb-job-block udb-job-block-errors">
        <p class="udb-job-title" translate-once="entry.notifications"> <span class="badge" ng-bind="logger.getFailedJobs().length"></span></p>
        <ul class="list-unstyled udb-job-messages">
          <li class="udb-alert repeat-animation" ng-repeat="job in logger.getFailedJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>

      <div class="udb-job-block udb-job-block-pending">
        <p class="udb-job-title" translate="entry.in_progress"></p>
        <ul class="list-unstyled udb-job-messages">
          <li class="udb-alert repeat-animation" ng-repeat="job in logger.getQueuedJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>

      <div class="udb-job-log-footer-message">
        <!-- udb-job-log-footer-message -->
      </div>

    </div>
  </div>
</div>
<div class="udb-job-log-overlay" ng-class="{'shown': logger.isVisible()}" ng-click="logger.hideJobLog()"></div>
