<tr class="organization-search-item" ng-class="{'deleted': osic.organizationDeleted}" ng-if="::osic.organization">
    <td ng-bind="::osic.organization.name"></td>
    <td>
        <span ng-bind="::osic.organization.address.streetAddress"></span>
        <br>
        <span ng-bind="::osic.organization.address.addressLocality"></span>
    </td>
    <td>
        <span ng-bind="::osic.organization.created | amDateFormat:'DD/MM/YYYY HH:mm'"></span>
        <span class="organization-search-item-email" ng-if="::osic.organization.email">
            <br><span ng-bind="::osic.organization.email"></span>
        </span>
        <span class="organization-search-item-url" ng-if="::osic.organization.url">
            <br><a ng-href="{{::osic.organization.url}}" target="_blank" ng-bind="::osic.organization.url"></a>
        </span>
    </td>
    <td class="text-right">
        <div class="pull-right btn-group" uib-dropdown>
            <a class="btn btn-default" ui-sref="management.organizers.edit({id: osic.organization.id})">Bewerken</a>
            <button type="button" class="btn btn-default" uib-dropdown-toggle><span class="caret"></span></button>
            <ul uib-dropdown-menu role="menu">
                <li role="menuitem">
                    <a ui-sref="management.organizers.search.delete({id: osic.organization.id})">Verwijderen</a>
                </li>
            </ul>
        </div>
    </td>
</tr>