<tr class="organization-search-item" ng-class="{'deleted': osic.organizationDeleted}" ng-if="::osic.organization">
    <td style="padding-left: 30px"><strong><a ng-bind="::osic.organization.name" ui-sref="split.organizerDetail({id: osic.organization.id})"></a></strong></td>
    <td ng-if="::osic.organization.address.addressLocality">
        <span ng-bind="::osic.organization.address.streetAddress"></span>
        <br>
        <span ng-bind="::osic.organization.address.addressLocality"></span>
    </td>
    <td ng-if="::!osic.organization.address.addressLocality">
        <span translate-once="search.organization.noAddress"></span>
    </td>
    <td style="padding-right: 30px">
        <div ng-if="::osic.organization.created">
            <i class="fa fa-clock"></i> <span ng-bind="::osic.organization.created | amDateFormat:'DD/MM/YYYY HH:mm'"></span>
        </div>
        <div ng-if="::osic.organization.creator">
            <i class="fa fa-user"></i> <span ng-bind="::osic.organization.creator"></span>
        </div>
    </td>
</tr>
