<div class="modal-header">
    <h4 class="modal-title" translate-once="calendar.openingHours.opening_hours"></h4>
</div>
<div class="modal-body">
    <div class="well text-center add-opening-hours"
         ng-show="ohemc.openingHoursCollection.openingHours.length === 0">
        <span translate-once="calendar.openingHours.permanent_title"></span>
        <br>
        <span translate-once="calendar.openingHours.permanent_subtitle"></span>
        <br>
        <button type="button" class="btn btn-primary" ng-click="ohemc.createNewOpeningHours()" translate-once="calendar.openingHours.add_hours"></button>
    </div>
    <div class="alert alert-danger" role="alert" ng-if="!!ohemc.errors.length">
        <ul>
            <li ng-repeat="error in ohemc.errors"
                ng-bind="'OPENING_HOURS_ERROR.' + error | translate"></li>
        </ul>
    </div>
    <div class="opening-hours" ng-show="ohemc.openingHoursCollection.openingHours.length > 0">
        <div class="opening-hours-labels">
            <div class="weekdays" translate-once="calendar.openingHours.days"></div>
            <div class="opening-time" translate-once="calendar.openingHours.from"></div>
            <div class="closing-time" translate-once="calendar.openingHours.till"></div>
        </div>
        <div class="opening-hours-collection">
            <div class="opening-hours-set" ng-form="openingHoursInfo" ng-repeat="openingHours in ohemc.openingHoursCollection.openingHours">
                <div class="weekdays">
                    <label class="checkbox-inline" ng-repeat="(day, weekday) in openingHours.dayOfWeek">
                        <input type="checkbox" ng-model="openingHours.dayOfWeek[day].open">
                            <span ng-bind="::weekday.label"></span>
                    </label>
                </div>
                <div class="opening-time">
                    <div class="form-group"
                        ng-class="{'has-error': openingHoursInfo.opens.$invalid && openingHoursInfo.opens.$touched}">
                        <udb-form-calendar-timepicker
                            name="opens"
                            class="uur"
                            ng-required="true"
                            ng-model="openingHours.opensAsDate"></udb-form-calendar-timepicker>
                    </div>
                </div>
                <div class="closing-time">
                    <div class="form-group"
                        ng-class="{'has-error': openingHoursInfo.closes.$invalid && openingHoursInfo.closes.$touched}">
                        <udb-form-calendar-timepicker
                            name="closes"
                            class="uur"
                            ng-required="true"
                            ng-model="openingHours.closesAsDate"></udb-form-calendar-timepicker>
                    </div>
                </div>
                <div class="remove">
                    <button type="button" class="close" aria-label="Close" ng-click="ohemc.removeOpeningHours(openingHours)"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>

        <div class="add">
            <a class="btn btn-link btn-plus" ng-click="ohemc.createNewOpeningHours()" translate-once="calendar.openingHours.more_hours">
            </a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()" translate-once="calendar.openingHours.cancel"></button>
    <button type="button" class="btn btn-primary openingsuren-toevoegen"
            ng-click="ohemc.saveOpeningHours()" translate-once="calendar.openingHours.save">
    </button>
</div>
