<div id="wanneer-periode">
  <div class="col-xs-12 col-sm-4">
    <section class="add-date">
      <div class="form-group">
        <p class="module-title">Vanaf</p>
        <div udb-datepicker
             ng-change="formData.periodicTimingChanged()"
             ng-model="formData.startDate"></div>
      </div>
    </section>
  </div>

  <div class="col-xs-12 col-sm-4">
    <section class="add-date">
      <div class="form-group">
        <p class="module-title">Tot en met</p>
        <div udb-datepicker
             ng-change="formData.periodicTimingChanged()"
             ng-model="formData.endDate"></div>
      </div>
    </section>
  </div>

  <div class="col-xs-12">
    <div ng-show="formData.periodicRangeError" class="alert alert-warning" role="alert">
        Selecteer een geldige begin- en einddatum.
    </div>
  </div>
</div>
