<div id="wanneer-dagen" ng-repeat="timestamp in formData.timestamps">

  <div class="col-xs-12 col-sm-4 prototype-step" id="add-date-form">
    <section class="add-date">

      <div udb-datepicker
           ng-change="formData.timingChanged()"
           ng-model="timestamp.date"></div>

      <div class="row"
           ng-show="formData.isValidDate(timestamp.date)">
        <div class="col-xs-6">
          <label>
            <input type="checkbox"
                   ng-change="formData.toggleStartHour(timestamp)"
                   value=""
                   ng-model="timestamp.showStartHour"
                   class="beginuur-toevoegen">
            Beginuur
          </label>
          <div class="beginuur-invullen" ng-show="timestamp.showStartHour">
            <input udb-time
                   type="time"
                   required="required"
                   class="form-control uur"
                   ng-model="timestamp.startHourAsDate"
                   ng-change="formData.hoursChanged(timestamp)"
                   ng-model-options="{ updateOn: 'blur', debounce: 500 }"
                   placeholder="Bv. 08:00"
                   focus-if="timestamp.showStartHour"/>
          </div>
        </div>
        <div class="col-xs-6 einduur" ng-show="timestamp.showStartHour">
          <label>
            <input type="checkbox"
                   ng-change="formData.toggleEndHour(timestamp)"
                   value=""
                   ng-model="timestamp.showEndHour"
                   class="einduur-toevoegen">
            Einduur
          </label>
          <div class="einduur-invullen" ng-show="timestamp.showEndHour">
            <input udb-time
                   type="time"
                   required="required"
                   class="form-control uur"
                   ng-model="timestamp.endHourAsDate"
                   ng-change="formData.hoursChanged(timestamp)"
                   ng-model-options="{ updateOn: 'blur', debounce: 500 }"
                   placeholder="Bv. 23:00"
                   focus-if="timestamp.showEndHour"/>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
<div class="col-xs-12 col-sm-4">
  <div class="add-date">
    <a href="#" class="add-date-link" ng-click="formData.addTimestamp('','','')">
      <p id="add-date-plus">+</p>
      <p id="add-date-label">Nog een dag toevoegen</p>
      <p id="add-date-tip" class="muted">Tip: Gaat dit evenement meerdere malen per dag door? Voeg dan dezelfde dag met een ander beginuur toe.</p>
    </a>
  </div>
</div>
