<div class="form-calendar-period">
  <div class="row">
    <div class="col-sm-4">
    <label>
        <input type="checkbox"
               class="permanent-check"
               ng-model="$ctrl.calendarType"
               ng-true-value="'periodic'"
               ng-false-value="'permanent'"
               ng-change="$ctrl.formData.setCalendarType($ctrl.calendarType)">
        <span>Start- en einddatum</span>
    </label>
    </div>
    <div class="col-sm-8">
    <div class="periodic-info">
        <div class="start-date">
            <label>Van</label>
            <udb-form-calendar-datepicker ng-disabled="$ctrl.formData.calendarType !== 'periodic'"
                                            ng-model="$ctrl.formData.startDate"
                                            ng-change="$ctrl.formData.periodicTimingChanged()">
            </udb-form-calendar-datepicker>
        </div>

        <div class="end-date">
            <label>Tot</label>
            <udb-form-calendar-datepicker ng-disabled="$ctrl.formData.calendarType !== 'periodic'"
                                            ng-model="$ctrl.formData.endDate"
                                            ng-change="$ctrl.formData.periodicTimingChanged()">
            </udb-form-calendar-datepicker>
        </div>

        <div class="requirements"
             ng-show="$ctrl.formData.calendarType === 'periodic' && $ctrl.formData.periodicRangeError">
            <div class="alert alert-danger">
                <p>Geef zowel een begin- als einddatum in. De einddatum kan niet voor de begindatum vallen.</p>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
