<div class="form-calendar-period">
    <label>
        <input type="checkbox"
               class="permanent-check"
               ng-model="$ctrl.calendarType"
               ng-true-value="'periodic'"
               ng-false-value="'permanent'"
               ng-change="$ctrl.formData.setCalendarType($ctrl.calendarType)">
        <span translate-once="calendar.period.title"></span>
    </label>
    <div class="periodic-info">
        <div class="start-date">
            <label translate-once="calendar.period.from"></label>
            <udb-form-calendar-datepicker ng-disabled="$ctrl.formData.calendarType !== 'periodic'"
                                            ng-model="$ctrl.formData.startDate"
                                            ng-change="$ctrl.formData.periodicTimingChanged()">
            </udb-form-calendar-datepicker>
        </div>

        <div class="end-date">
            <label translate-once="calendar.period.till"></label>
            <udb-form-calendar-datepicker ng-disabled="$ctrl.formData.calendarType !== 'periodic'"
                                            ng-model="$ctrl.formData.endDate"
                                            ng-change="$ctrl.formData.periodicTimingChanged()">
            </udb-form-calendar-datepicker>
        </div>

        <div class="requirements"
             ng-show="$ctrl.formData.calendarType === 'periodic' && $ctrl.formData.periodicRangeError">
            <div class="alert alert-danger">
                <p translate-once="calendar.period.alert"></p>
            </div>
        </div>
    </div>
</div>
